/**
 * godz 2016.3.22
 */
.a_domain{
	background-image: url("images/domain.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_search{
	background-image: url("images/search.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_up{
	background-image: url("images/up.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_down{
	background-image: url("images/down.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_add{
	background-image: url("images/add.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_update{
	background-image: url("images/update.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_delete{
	background-image: url("images/delete.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_save{
	background-image: url("images/tools/tool-sprites-dark.png");
	background-position: 0 -304px;
}
.a_refresh{
	background-image: url("images/refresh.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_running{
	background-image: url("images/running.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_default{
	background-image: url("images/default.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_undefault{
	background-image: url("images/undefault.png");
	background-position: center;
	background-repeat: no-repeat;
}
.a_stop{
	background-image: url("images/stop.png");
	background-repeat: no-repeat;
	background-position: center;
}
.a_stopIn{
	background-image: url("images/stopIn.png");
	background-repeat: no-repeat;
	background-position: center;
}
.i_env{
	background-image: url("images/env.png");
	background-repeat: no-repeat;
	background-position: center;
}
.i_schdule{
	background-image: url("images/schedule.png");
	background-repeat: no-repeat;
	background-position: center;
}
.a_error{
	background-image: url("images/error.png");
	background-repeat: no-repeat;
	background-position: center;
}
.a_graph{
	background-image: url("images/graph.png");
	background-repeat: no-repeat;
	background-position: center;
}
.a_export{
	background-image: url("images/export.png");
	background-repeat: no-repeat;
	background-position: center;
}
.a_import{
	background-image: url("images/import.png");
	background-repeat: no-repeat;
	background-position: center;
}
#schGraph{
	position: relative;
}

.item{
	position: absolute;
	z-index: 0;
	width: 200px;
	border-radius: 10px 10px;
	color: #333;
}
.explain{
	margin: 10px;
	padding: 5px; 
	width: 80px;
	/*height: 30px;*/
	color: #fff;
	float: left;
	text-align: center;
}
.holder{

}
.schGraph{
	
}
.item p{
	word-wrap: break-word; 
	word-break: break-all;
	padding: 0 5% 5% 5%;
	margin: 0;
}
.item p:first-child{
	padding-top: 5%;
}

.ui-tab-bar .x-panel-body-default{
  border: 0;
}
pre{
	margin: 0;
}