* {
    font-family: 微软雅黑;

}

body {
    background-color: #EFEFEF;
    font-size: 14px;
}


#content {
    display: none;
}
.header{
    border-bottom: 1px #999999 solid;
}
.header .header-top{
    padding: 10px 0;
    background-color: #3A3937;
}
.header .header-logo{
    color: #fff;
    font-size: 1.5em;
}
.header .header-logo .header-logo-text{
    padding-left: 120px;
    background-image: url("../img/logo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100px 50px;
    line-height: 60px;
}
.header-nav li a{
    padding: 0;
    padding-top: 40px;
    color: #ddd;
    background-size: 35px 30px;
    background-repeat: no-repeat;
    background-position: center 5px;
    opacity: .5;
}
.header-nav li a:hover{
    opacity: 1;
    background-color: #3A3937;
}
.header-nav li a.action{
    opacity: 1;
    background-color: #204d74\0/;
}
.header-nav-bg1{
    background-image: url("../img/header-nav1.png");
}
.header-nav-bg2{
    background-image: url("../img/header-nav2.png");
}
.header-nav-bg3{
    background-image: url("../img/header-nav3.png");
}
.header-nav-bg4{
    background-image: url("../img/header-nav4.png");
}
.header-nav-bg5{
    background-image: url("../img/header-nav5.png");
}
.header-nav-bg6{
    background-image: url("../img/header-nav6.png");
}

.header-bottom{
    padding: 10px;
}
.content{
    padding: 0;
    background-color: #3A3937;
}
.content-left{
    background-color: #3A3937;
    padding: 30px 0;
}
.content-left li{
    border-bottom:1px #5c6161 solid;
}
.content-left li a{
    color: #fff;
}
.content-left li a.action{
    background-color: #EFEFEF;
    color: #333;
}
.content-left-nav3-open2 li a.action{
    background-color: #EFEFEF;
    color: #333;
}
.content-left li a:hover{

}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #6F6E6B;
    color: #fff;
}

.secondmenu{
    background-color: #9f9e9e;
    color: #000;
    font-size: 12px;
    border-left: 10px #3A3937 solid;
}
/*.content-left-nav3{
    background-image: url("../img/-.png");
    background-position: center left;
    background-repeat: no-repeat;
}*/
.noCollapsed{
    background-image: url("../img/-.png");
    background-position: center left;
    background-repeat: no-repeat;
}
.collapsed{
    background-image: url("../img/+.png");
    background-position: center left;
    background-repeat: no-repeat;
}
.k-state-selected{
    background-color: rgba(11, 162, 153, 0.61);
    border-color: #0BA299;
}

.k-grid-header{
    background-color: #fff;
}

#loading{
    position: fixed;
    top: 70%;
    left: 50%;
    width: 15%;
    height: 10%;
    z-index: 9999;
    /*background-color: rgba(0,0,0,0.1);*/
    background-image: url("../img/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    /*display: none;*/
}