.index-page{
	.header{
		position: relative;
		width: 100%;
		height: 2rem;
		background-color: #60C7EA;
		color: #fff;
		h2{
			position: absolute;
			bottom: 0;
			padding: .2rem; 
			font-size: .4rem;
		}
	}
	.main{
		.main-title{
			padding: .2rem;
			font-size: .33rem;
			border-bottom: 1px #ddd solid;
		}
		.loading{
			text-align: center;
		}
		.list{
			.box{
				border-bottom: 1px #ddd solid;
				overflow: auto;
				padding: .2rem;
				.icon{
					float: left;
				}
				.info{
					float: left;
					padding: 0 .2rem ;
					.title{
						font-size: .33rem;
					}
					.average{
						padding: .1rem 0;
						color: #999;
					}
					.genres{
						// padding: .1rem 0;
						color: #999;
					}
				}
				
			}
		}
	}
}