.loading-main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.loading-box {
    font-size: .3rem;
    position: absolute;
    top: 25%;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    width: 2rem;
    height: .5rem;
    margin: auto;
    padding-top: 2rem;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .8);
}

.loadingDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: .25;
}

.loadingDiv:before {
    position: absolute;
    width: 8px;
    height: 3px;
    content: ' ';
    -webkit-transform-origin: left 50% 0;
    -ms-transform-origin: left 50% 0;
    transform-origin: left 50% 0;
    border-radius: 1px;
    background: #d1d1d5;
    box-shadow: rgba(0, 0, 0, .0980392) 0 0 1px;
}

#DialogLoading {
    /*display: none;*/
}

.loadingDia {
    font-size: .33rem;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 30%;
    bottom: 37.5%;
    left: 30%;
    width: 40%;
    height: 25%;
    text-align: center;
    border: 0;
    border-radius: .1rem;
    background: rgba(0, 0, 0, .8);
}

#ContentLoading {
    height: auto;
}

#ContentLoading .loadingText {
    width: 100%;
    height: auto;
    margin-top: 70%;
    text-align: center;
    color: #fff;
}

.loadingWrap,
.loadingWrap .dialogMask {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hide {
    display: none!important;
}

.show {
    display: show;
}

.loadingWrap {
    z-index: 999;
    top: 0;
    bottom: 0;
}

.loadingDiv_0 {
    -webkit-animation: opacity-60-25-0-12 1.25s linear infinite;
    animation: opacity-60-25-0-12 1.25s linear infinite;
}

.loadingDiv_0:before {
    -webkit-transform: rotate(0) translate(7.92px, 0);
    -ms-transform: rotate(0) translate(7.92px, 0);
    transform: rotate(0) translate(7.92px, 0);
}

.loadingDiv_1 {
    -webkit-animation: opacity-60-25-1-12 1.25s linear infinite;
    animation: opacity-60-25-1-12 1.25s cubic-bezier(.4, -.08, .45, .57) infinite;
}

.loadingDiv_1:before {
    -webkit-transform: rotate(30deg) translate(7.92px, 0);
    -ms-transform: rotate(30deg) translate(7.92px, 0);
    transform: rotate(30deg) translate(7.92px, 0);
}

.loadingDiv_2 {
    -webkit-animation: opacity-60-25-2-12 1.25s linear infinite;
    animation: opacity-60-25-2-12 1.25s linear infinite;
}

.loadingDiv_2:before {
    -webkit-transform: rotate(60deg) translate(7.92px, 0);
    -ms-transform: rotate(60deg) translate(7.92px, 0);
    transform: rotate(60deg) translate(7.92px, 0);
}

.loadingDiv_3 {
    -webkit-animation: opacity-60-25-3-12 1.25s linear infinite;
    animation: opacity-60-25-3-12 1.25s linear infinite;
}

.loadingDiv_3:before {
    -webkit-transform: rotate(90deg) translate(7.92px, 0);
    -ms-transform: rotate(90deg) translate(7.92px, 0);
    transform: rotate(90deg) translate(7.92px, 0);
}

.loadingDiv_4 {
    -webkit-animation: opacity-60-25-4-12 1.25s linear infinite;
    animation: opacity-60-25-4-12 1.25s linear infinite;
}

.loadingDiv_4:before {
    -webkit-transform: rotate(120deg) translate(7.92px, 0);
    -ms-transform: rotate(120deg) translate(7.92px, 0);
    transform: rotate(120deg) translate(7.92px, 0);
}

.loadingDiv_5 {
    -webkit-animation: opacity-60-25-5-12 1.25s linear infinite;
    animation: opacity-60-25-5-12 1.25s linear infinite;
}

.loadingDiv_5:before {
    -webkit-transform: rotate(150deg) translate(7.92px, 0);
    -ms-transform: rotate(150deg) translate(7.92px, 0);
    transform: rotate(150deg) translate(7.92px, 0);
}

.loadingDiv_6 {
    -webkit-animation: opacity-60-25-6-12 1.25s linear infinite;
    animation: opacity-60-25-6-12 1.25s linear infinite;
}

.loadingDiv_6:before {
    -webkit-transform: rotate(180deg) translate(7.92px, 0);
    -ms-transform: rotate(180deg) translate(7.92px, 0);
    transform: rotate(180deg) translate(7.92px, 0);
}

.loadingDiv_7 {
    -webkit-animation: opacity-60-25-7-12 1.25s linear infinite;
    animation: opacity-60-25-7-12 1.25s linear infinite;
}

.loadingDiv_7:before {
    -webkit-transform: rotate(210deg) translate(7.92px, 0);
    -ms-transform: rotate(210deg) translate(7.92px, 0);
    transform: rotate(210deg) translate(7.92px, 0);
}

.loadingDiv_8 {
    -webkit-animation: opacity-60-25-8-12 1.25s linear infinite;
    animation: opacity-60-25-8-12 1.25s linear infinite;
}

.loadingDiv_8:before {
    -webkit-transform: rotate(240deg) translate(7.92px, 0);
    -ms-transform: rotate(240deg) translate(7.92px, 0);
    transform: rotate(240deg) translate(7.92px, 0);
}

.loadingDiv_9 {
    -webkit-animation: opacity-60-25-9-12 1.25s linear infinite;
    animation: opacity-60-25-9-12 1.25s linear infinite;
}

.loadingDiv_9:before {
    -webkit-transform: rotate(270deg) translate(7.92px, 0);
    -ms-transform: rotate(270deg) translate(7.92px, 0);
    transform: rotate(270deg) translate(7.92px, 0);
}

.loadingDiv_10 {
    -webkit-animation: opacity-60-25-10-12 1.25s linear infinite;
    animation: opacity-60-25-10-12 1.25s linear infinite;
}

.loadingDiv_10:before {
    -webkit-transform: rotate(300deg) translate(7.92px, 0);
    -ms-transform: rotate(300deg) translate(7.92px, 0);
    transform: rotate(300deg) translate(7.92px, 0);
}

.loadingDiv_11 {
    -webkit-animation: opacity-60-25-11-12 1.25s linear infinite;
    animation: opacity-60-25-11-12 1.25s linear infinite;
}

.loadingDiv_11:before {
    -webkit-transform: rotate(330deg) translate(7.92px, 0);
    -ms-transform: rotate(330deg) translate(7.92px, 0);
    transform: rotate(330deg) translate(7.92px, 0);
}

@-webkit-keyframes opacity-60-25-0-12 {
    0%,
    .01% {
        opacity: .25;
    }
    .02% {
        opacity: 1;
    }
    100%,
    60.01% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-1-12 {
    0%,
    8.34333% {
        opacity: .25;
    }
    8.35333% {
        opacity: 1;
    }
    100%,
    68.3433% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-2-12 {
    0%,
    16.6767% {
        opacity: .25;
    }
    16.6867% {
        opacity: 1;
    }
    100%,
    76.6767% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-3-12 {
    0%,
    25.01% {
        opacity: .25;
    }
    25.02% {
        opacity: 1;
    }
    100%,
    85.01% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-4-12 {
    0%,
    33.3433% {
        opacity: .25;
    }
    33.3533% {
        opacity: 1;
    }
    100%,
    93.3433% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-5-12 {
    0% {
        opacity: .270958333333333;
    }
    41.6767% {
        opacity: .25;
    }
    41.6867% {
        opacity: 1;
    }
    1.67667% {
        opacity: .25;
    }
    100% {
        opacity: .270958333333333;
    }
}

@-webkit-keyframes opacity-60-25-6-12 {
    0% {
        opacity: .375125;
    }
    50.01% {
        opacity: .25;
    }
    50.02% {
        opacity: 1;
    }
    10.01% {
        opacity: .25;
    }
    100% {
        opacity: .375125;
    }
}

@-webkit-keyframes opacity-60-25-7-12 {
    0% {
        opacity: .479291666666667;
    }
    58.3433% {
        opacity: .25;
    }
    58.3533% {
        opacity: 1;
    }
    18.3433% {
        opacity: .25;
    }
    100% {
        opacity: .479291666666667;
    }
}

@-webkit-keyframes opacity-60-25-8-12 {
    0% {
        opacity: .583458333333333;
    }
    66.6767% {
        opacity: .25;
    }
    66.6867% {
        opacity: 1;
    }
    26.6767% {
        opacity: .25;
    }
    100% {
        opacity: .583458333333333;
    }
}

@-webkit-keyframes opacity-60-25-9-12 {
    0% {
        opacity: .687625;
    }
    75.01% {
        opacity: .25;
    }
    75.02% {
        opacity: 1;
    }
    35.01% {
        opacity: .25;
    }
    100% {
        opacity: .687625;
    }
}

@-webkit-keyframes opacity-60-25-10-12 {
    0% {
        opacity: .791791666666667;
    }
    83.3433% {
        opacity: .25;
    }
    83.3533% {
        opacity: 1;
    }
    43.3433% {
        opacity: .25;
    }
    100% {
        opacity: .791791666666667;
    }
}

@-webkit-keyframes opacity-60-25-11-12 {
    0% {
        opacity: .895958333333333;
    }
    91.6767% {
        opacity: .25;
    }
    91.6867% {
        opacity: 1;
    }
    51.6767% {
        opacity: .25;
    }
    100% {
        opacity: .895958333333333;
    }
}
