* {
    font-family: "Microsoft YaHei";
    font-size: 12px;
    padding: 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    padding: 0;
    margin: 0 auto;
}

/*header top*/
header .top {
    height: 35px;
    background: #F5F5F5;
    color: #929292;
    padding: 0 8%;

}

header .top > div {
    line-height: 35px;
}

header .top .top-welcome {
    float: left;
}

header .top .top-language {
    float: right;
    padding-left: 80px;
    background: url("../images/top-language.png") no-repeat left center;
}

/*header logo and nav*/

header .header-main .header-main-logo {
    background: #fff;
    height: 95px;
    padding: 0 8%;
}

header .header-main .header-main-logo .header-main-logo-box {
    float: left;
    background: url("../images/logo.png") no-repeat left center;
    padding: 25px 0 25px 230px;
}

header .header-main .header-main-logo .header-main-logo-box h2 {
    font-size: 25px;
    /*line-height: 45px;*/
    padding: 5px 10px;
    border-left: 1px #666 solid;
    color: #53200F;
    font-weight: 600;
}

/*热线电话*/
header .header-main .header-main-logo .header-main-logo-phone {
    float: right;
    padding: 5px 50px 5px 65px;
    background: url("../images/phone.png") no-repeat left bottom;
}

header .header-main .header-main-logo .header-main-logo-phone .header-main-logo-phone-top {
    font-size: 14px;
}

header .header-main .header-main-logo .header-main-logo-phone .header-main-logo-phone-center {
    font-size: 22px;
    color: #E66514;
    font-weight: 600;
}

header .header-main-nav {
    height: 50px;
    position: relative;
}

header .header-main-nav .header-main-nav-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15px;
    background: #53200F;
    width: 100%;
    z-index: 1;
}

header .header-main-nav ul.nav {
    position: relative;
    list-style: none;
    /*height: 50px;*/
    background: #53200F;
    float: right;
    padding-right: 8%;
    padding-left: 15px;
    z-index: 10;

}

/*斜角块*/
header .bevel {
    float: right;
    border-left: 50px transparent dotted;
    border-bottom: 50px #53200F solid;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

header .header-main-nav li.nav-li {
    float: left;
    /*width: 80px;*/
    text-align: center;
    padding: 0 20px 0 15px;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
}


header .header-main-nav li.nav-li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    display: block;
    padding: 10px 0;
}

header .header-main-nav li.nav-li a:hover,
header .header-main-nav li.nav-li a.action {
    border-bottom: 2px #fff solid;
}

header .header-main-nav li.nav-root {
    position: relative;
    background: url("../images/nav-more.png") no-repeat right center;
}
header .header-main-nav ul.nav-root-child {
    position: absolute;
    top: 50px;
    left: 0;
    width: 120px;
    z-index: 11;
    list-style: none;
    background-color: #fff;
    display: none;
}
header .header-main-nav ul.nav-root-child li{
    border-bottom: 1px #ddd solid;
}
header .header-main-nav ul.nav-root-child a{
    color: #4f1809;
}
header .header-main-nav ul.nav-root-child a:hover{
    border: 0;
    color: #e65116;
}
header .header-main-nav li.nav-root:hover{
    background-color: #fff;
    color: #5B220B;
    background-image: url("../images/nav-more-hover.png");
}
header .header-main-nav li.nav-root ul.nav-root-child:hover,
header .header-main-nav li.nav-root:hover ul.nav-root-child{
     display: block;
 }

/*slide 幻灯片*/
section .slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
}

section .slide .slide-main img {
    width: 100%;
}

section .slide .slide-main .slide-img-model {
    opacity: 0;
}

section .slide .slide-main .slide-img-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    z-index: 1;
}

section .slide .slide-img-box.slide-img-box.action {
    left: 0;
    z-index: 2;
}

section .slide .slide-ctrl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    /*background-color: rgba(255,255,255,0.5);*/
}

section .slide .slide-ctrl-box {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

section .slide .slide-ctrl-before {
    left: 0;
}

section .slide .slide-ctrl-next {
    right: 0;
}

section .model {
    padding: 0 102px;
    position: relative;
    margin-top: -100px;
    height: 100px;
    z-index: 9;
}

section .model-box {
    float: left;
    display: flex;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    border-right: 2px rgba(255, 255, 255, 0) solid;

}

section .model-box:last-child {
    border-right: 0;
}

section .model-box .model-box-top {
    height: 100px;
    width: 100%;
    text-align: center;
    position: relative;

}

section .model-box .model-box-top-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(117, 56, 29, .9);
    z-index: 4;
}

section .model-box .model-box-top-main {
    position: relative;
    z-index: 5;
}

/*section .model-box .model-box-top-main img {*/
/*height: 50px;*/
/*padding-bottom: 20px;*/
/*}*/

section .model-box .model-box-top-main a {
    color: #fff;
    font-size: 14px;
    display: block;
    padding-top: 70px;
    background: no-repeat top center;
    /*z-index: 9;*/
}

/*鼠标经过模块*/
section .model-box1 .model-box-top-main a {
    background-image: url("../images/model-box-1.png");
}

section .model-box1 .model-box-top:hover a {
    background-image: url("../images/model-box-1-action.png");
}

section .model-box2 .model-box-top-main a {
    background-image: url("../images/model-box-2.png");
}

section .model-box2 .model-box-top:hover a {
    background-image: url("../images/model-box-2-action.png");
}

section .model-box3 .model-box-top-main a {
    background-image: url("../images/model-box-3.png");
}

section .model-box3 .model-box-top:hover a {
    background-image: url("../images/model-box-3-action.png");
}

section .model-box4 .model-box-top-main a {
    background-image: url("../images/model-box-4.png");
}

section .model-box4 .model-box-top:hover a {
    background-image: url("../images/model-box-4-action.png");
}

section .model-box .model-box-top:hover .model-box-top-bg {
    background-color: rgba(117, 56, 29, 1);
}

section .model-table {
    margin: 0 102px;
    /*position: relative;*/
    border: 2px #ddd solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 340px;
}

section .model-table .model-table-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    width: 25%;
    padding: 15px;
    /*border: 1px #53200F solid;*/
    float: left;
}

section .model-table .model-table-box img {
    width: 100%;
    height: 140px;
}

section .model-table .model-table-box .model-table-form {
    margin-top: 15px;
}

/*多行文本框*/
section .model-table .model-table-box1 .model-table-form .model-table-form-textarea-main {
    position: relative;
}

section .model-table .model-table-box1 .model-table-form .model-table-form-textarea {
    height: 90px;
    resize: none;
    width: 94%;
    padding: 3%;
    border: 1px #aaa solid;
    border-radius: 5px;
}

section .model-table .model-table-box1 .model-table-form .model-table-form-textarea-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    height: 90px;
    color: #aaa;
    margin: 4%;
    pointer-events: none;
}

section .model-table .model-table-box1 .model-table-form .model-table-form-textarea-placeholder p:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*查询按钮*/
button {
    background: none;
    border: 0;
    cursor: pointer;
    color: #000;
}

section .model-table .model-table-box .model-table-form button:hover {
    background: #ff0709;
    border: 0;
    color: #fff;
}

section .model-table .model-table-box1 .model-table-form .model-table-form-button-main {
    padding-top: 10px;
}

section .model-table .model-table-box1 .model-table-form .model-table-form-button-main button {
    border: 1px #aaa solid;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    font-size: 14px;
}

section .model-table .model-table-box1 .model-table-form .model-table-form-button-main a {
    font-size: 14px;
    float: right;
    line-height: 30px;
    padding-right: 25px;
    text-decoration: none;
    color: #aaa;
    background: url("../images/model-phone.png") no-repeat right center;
}

/*模块2*/
section .model-table .model-table-box2 .model-table-form .model-table-form-input {
    margin-bottom: 15px;
}

section .model-table .model-table-box2 .model-table-form .model-table-form-input label {
    font-size: 12px;
    line-height: 25px;
    width: 25%;
    float: left;
    text-align: right;
    color: #333;
}

section .model-table .model-table-box2 .model-table-form .model-table-form-input select {
    width: 35%;
    padding: 3px;
    /*font-size: 12px;*/
}

section .model-table .model-table-box2 .model-table-form .model-table-form-input input {
    width: 30%;
    padding: 3px;
    border: 1px #aaa solid;
    border-radius: 3px;
    font-size: 14px;
}

section .model-table .model-table-box2 .model-table-form .model-table-form-input span {
    color: #aaa;
    padding-left: 5px;
}

section .model-table .model-table-box2 .model-table-form .model-table-form-input button {
    /*background: #ff0709;*/
    width: 20%;
    float: right;
    border: 1px #aaa solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

/*模块3*/
section .model-table .model-table-box3 .model-table-form p,
section .model-table .model-table-box3 .model-table-form .model-table-form-input {
    margin-bottom: 15px;
}

section .model-table .model-table-box3 .model-table-form p:first-child {
    line-height: 25px;
    color: #666;
}

section .model-table .model-table-box3 .model-table-form p:last-child {
    font-size: 14px;
    line-height: 25px;
    padding-right: 35px;
}

section .model-table .model-table-box3 .model-table-form p:last-child span {
    font-size: 12px;
    background-color: #ff0709;
    color: #fff;
    padding: 1px 3px;
}

section .model-table .model-table-box3 .model-table-form .model-table-form-input select {
    width: 33%;
    padding: 3px 0;
    font-size: 12px;
}

section .model-table .model-table-box3 .model-table-form .model-table-form-input button {
    border: 1px #aaa solid;
    border-radius: 3px;
    width: 25%;
    font-size: 14px;
    margin-left: 2%;
    height: 30px;
}

/*模块4*/
section .model-table .model-table-box4 .model-table-form .model-table-form-phone {
    text-align: left;
    padding-left: 40%;
    background: url("../images/model-phone2.png") no-repeat 20% center;
}

section .model-table .model-table-box4 .model-table-form .model-table-form-phone p {
    font-size: 16px;
    color: #E66514;
}

section .model-table .model-table-box4 .model-table-form .model-table-form-box {
    background: #666666;
    width: 40%;
    height: 80px;
    margin: 5%;
    float: left;
}

/* 我们的服务 ----------------------------------------------*/
section .service {
    height: 350px;
    margin-top: 30px;
    background: url("../images/service_bg.png") no-repeat center center;
}

section .service .service-main {
    text-align: center;
    color: #fff;
}

section .service .service-main p.title {
    font-size: 45px;
    padding-top: 20px;
}

section .service .service-main p.title2 {
    font-size: 20px;
}

section .service .service-main .service-main-box {
    width: 80%;
    margin-top: 50px;
}

section .service .service-main .service-main-box a {
    display: block;
    float: left;
    color: #fff;
    font-size: 16px;
    width: 16%;
    padding: 100px 0 20px 0;
    background: no-repeat center 20px;
    -webkit-transition: background-color .15s;
    -moz-transition: background-color .15s;
    -ms-transition: background-color .15s;
    -o-transition: background-color .15s;
    transition: background-color .15s;
}

section .service .service-main .service-main-box a:hover {
    border-bottom: 3px #aaa solid;
    background-color: rgba(255, 255, 255, 0.1);
}

section .service .service-main .service-main-box a.service-main-box1 {
    background-image: url("../images/service-box-1.png");
}

section .service .service-main .service-main-box a.service-main-box2 {
    background-image: url("../images/service-box-2.png");
}

section .service .service-main .service-main-box a.service-main-box3 {
    background-image: url("../images/service-box-3.png");
}

section .service .service-main .service-main-box a.service-main-box4 {
    background-image: url("../images/service-box-4.png");
}

section .service .service-main .service-main-box a.service-main-box5 {
    background-image: url("../images/service-box-5.png");
}

section .service .service-main .service-main-box a.service-main-box6 {
    background-image: url("../images/service-box-6.png");
}

/*关于我们----------------------------------------------------*/
section .about-box {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section .about-box.about-left {
    padding-right: 20px;
}

section .about-box.about-left img {
    width: 100%;
}

.clear {
    clear: both;
}

section .about .about-right {
    padding-top: 30px;
    padding-right: 100px;
}

section .about .about-right .about-right-box-1 p.hr {
    color: #53200F;

}

section .about .about-right .about-right-box-1 p.title {
    font-size: 25px;
    color: #53200F;
    padding: 5px 0;
}

section .about .about-right .about-right-box-1 p.more {
    color: #333;
    font-size: 14px;
}

section .about .about-right .about-right-box-2 p {
    color: #aaa;
}

section .about .about-right .about-right-box-2 p:first-child {
    font-size: 40px;
    font-weight: 200;
}

section .about .about-right .about-right-box-2 p:last-child {
    font-size: 16px;
    font-weight: 500;
}

section .about .about-right .about-right-box-center {
    padding: 20px 0 40px 0;
}

section .about .about-right .about-right-box-center p:first-child {
    font-size: 20px;
    color: #5B220B;
    padding: 5px 0;
}

section .about .about-right .about-right-box-center p:last-child {
    padding-right: 30px;
    font-size: 14px;
}

section .about .about-right a {
    font-size: 18px;
    border: 1px #333 solid;
    padding: 10px;
}

/*运货量 与 新闻 --------------------------------------------*/
section .new {
    padding: 30px 100px;
    height: 300px;
}

section .new .new-box {
    float: left;
    width: 48%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

section .new .new-left {
    /*border: 1px #ddd solid;*/
    border-radius: 5px;
    padding: 15px;
    margin-right: 4%;
    height: 300px;
    -webkit-box-shadow: inset -1px -1px 5px #ddd;
    -moz-box-shadow: inset -1px -1px 5px #ddd;
    box-shadow: inset -1px -1px 5px #ddd;
}

section .new .new-left p {
    font-size: 18px;
    padding: 15px 0;
}

section .new .new-left .amount-main {
    padding: 0 20px;
}

section .new .new-left .amount-main .amount-main-box {
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 60px;
    background: no-repeat center top;
    position: relative;
    height: 220px;
    text-align: right;
}

section .new .new-left .amount-main .amount-main-box-value {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40px;
    max-height: 200px;
    background-color: #f4a515;
}

section .new .new-left .amount-main .amount-main-box-value p {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: right;
    color: #fff;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

section .new .new-left .amount-main .amount-main-box1 {
    background-image: url("../images/amount-box-1.png");
}

section .new .new-left .amount-main .amount-main-box2 {
    background-image: url("../images/amount-box-2.png");
}

section .new .new-left .amount-main .amount-main-box3 {
    background-image: url("../images/amount-box-3.png");
}

section .new .new-left .amount-main .amount-main-box4 {
    background-image: url("../images/amount-box-4.png");
}

/*新闻列表标题*/
section .new .new-right .new-right-tab {
    border-bottom: 3px #53200F solid;
    height: 35px;
}

section .new .new-right .new-right-tab a {
    float: right;
    text-decoration: none;
    font-size: 14px;
    line-height: 35px;
    color: #666;
}

section .new .new-right .new-right-tab .new-right-tab-header {
    float: left;
}

section .new .new-right .new-right-tab .new-right-tab-header .new-right-tab-header-box {
    float: left;
    cursor: pointer;
    width: 135px;
}

section .new .new-right .new-right-tab .new-right-tab-header .new-right-tab-header-box p {
    float: left;
    padding: 0 10px;
    font-size: 16px;
    line-height: 35px;
    width: 80px;
}

section .new .new-right .new-right-tab .new-right-tab-header .new-right-tab-header-box.action p {
    background-color: #53200F;
    color: #fff;
}

section .new .new-right .new-right-tab .new-right-tab-header .new-right-tab-header-box.action .bevel {
    float: right;
    border-right: 35px transparent dotted;
    border-bottom: 35px #53200F solid;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

/*新闻列表主体*/
section .new .new-right .new-right-tab-center {
    padding-top: 15px;
}

section .new .new-right .new-right-tab-center .new-right-tab-center-box-row {
    border-bottom: 1px #666666 dashed;
    height: 30px;
    padding: 5px;
}

section .new .new-right .new-right-tab-center .new-right-tab-center-box-row:last-child {
    border: 0;
}

section .new .new-right .new-right-tab-center .new-right-tab-center-box-row a {
    float: left;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    line-height: 30px;
    max-width: 70%;
    overflow: hidden;; /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...);*/
    white-space: nowrap; /* 不换行 */
}

section .new .new-right .new-right-tab-center .new-right-tab-center-box-row p {
    float: right;
    font-size: 14px;
    color: #333;
    line-height: 30px;
}

/* 行内动态 */
section .new .new-right .new-right-tab-center .hangNeiDongTai {
    display: none;
}

/*页脚*/
footer {
    width: 100%;
    height: 455px;
}

footer .footer-top {
    height: 35px;
}

footer .footer-top .footer-top-main {
    float: right;
    width: 35px;
    height: 35px;
    background-color: #5B220B;
}

footer .footer-top .bevel {
    float: right;
    border-left: 35px transparent dotted;
    border-bottom: 35px #5B220B solid;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

footer .footer-center {
    background-color: #5B220B;
    height: 350px;
}

/*页脚左边框*/
footer .footer-center .footer-center-left {
    width: 45%;
    float: left;
    padding: 30px 30px 30px 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

footer .footer-center .footer-center-left-logo {
    height: 70px;
    background: url("../images/footer-logo.png") no-repeat left center;
}

footer .footer-center .footer-center-left-main {

}

footer .footer-center .footer-center-left-main .footer-center-left-weiXin,
footer .footer-center .footer-center-left-main .footer-center-left-main-phone {
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    width: 50%;
}

footer .footer-center .footer-center-left-main .footer-center-left-main-phone .footer-center-left-main-phone-title {
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
}

footer .footer-center .footer-center-left-main .footer-center-left-main-phone .footer-center-left-main-phone-center {
    font-size: 22px;
    color: #E66514;
    font-weight: 600;
    padding: 5px 0;
}

footer .footer-center .footer-center-left-main .footer-center-left-main-phone-online p:first-child {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}

footer .footer-center .footer-center-left-main .footer-center-left-main-phone-online a {
    color: #aaa;
    display: block;
    margin: 10px 0;
    padding: 15px 0 15px 60px;
    background: url("../images/online.png") no-repeat left center;
}

footer .footer-center .footer-center-left-main .footer-center-left-weiXin p {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}

footer .footer-center .footer-center-right {
    float: right;
    width: 55%;
    padding: 30px 100px 30px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

footer .footer-center .footer-center-right .footer-center-right-box {
    float: left;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    text-align: center;
}

footer .footer-center .footer-center-right .footer-center-right-box p {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
}

footer .footer-center .footer-center-right .footer-center-right-box a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 16px;
    padding: 5px 0;
}

footer .footer-bottom {
    background-color: #5B220B;
    height: 70px;
    position: relative;
}

footer .footer-bottom .footer-bottom-center-main {
    background-color: #42190A;
    line-height: 70px;
    text-align: right;
    margin-left: 70px;
}

footer .footer-bottom .footer-bottom-center-main p {
    padding-right: 100px;
    color: #aaa;
    font-size: 14px;
}

.footer-bottom-bevel-main {
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
}

footer .footer-bottom .footer-bottom-bevel {
    text-align: right;
    float: right;
    border-left: 35px transparent dotted;
    border-bottom: 35px #42190A solid;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

footer .footer-bottom .footer-bottom-bevel-bottom {
    float: right;
    height: 35px;
    width: 100%;
    background-color: #42190A;
}






