* {
    font-family: "Microsoft YaHei";
    padding: 0;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0 auto;
    font-size: 12px;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

.clear {
    clear: both;
}
/*页头菜单-----------------------------------------*/
/*header top*/
header .top {
    height: 35px;
    background: #F5F5F5;
    color: #929292;
    padding: 0 8%;

}

header .top > div {
    line-height: 35px;
}

header .top .top-welcome {
    float: left;
}

header .top .top-language {
    float: right;
    padding-left: 80px;
    background: url("../images/top-language.png") no-repeat left center;
}

/*header logo and nav*/

header .header-main .header-main-logo {
    background: #fff;
    height: 95px;
    padding: 0 8%;
}

header .header-main .header-main-logo .header-main-logo-box {
    float: left;
    background: url("../images/logo.png") no-repeat left center;
    padding: 25px 0 25px 230px;
}

header .header-main .header-main-logo .header-main-logo-box h2 {
    font-size: 22px;
    /*line-height: 45px;*/
    padding: 5px 10px;
    border-left: 1px #666 solid;
    color: #53200F;
    font-weight: 600;
}

/*热线电话*/
header .header-main .header-main-logo .header-main-logo-phone {
    float: right;
    padding: 5px 5px 5px 65px;
    background: url("../images/phone.png") no-repeat left bottom;
}

header .header-main .header-main-logo .header-main-logo-phone .header-main-logo-phone-top {
    font-size: 14px;
}

header .header-main .header-main-logo .header-main-logo-phone .header-main-logo-phone-center {
    font-size: 22px;
    color: #E66514;
    font-weight: 600;
}

header .header-main-nav {
    height: 50px;
    position: relative;
}

header .header-main-nav .header-main-nav-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15px;
    background: #53200F;
    width: 100%;
    z-index: 1;
}

header .header-main-nav ul.nav {
    position: relative;
    list-style: none;
    /*height: 50px;*/
    background: #53200F;
    float: right;
    padding-right: 8%;
    padding-left: 15px;
    z-index: 10;
    padding-top: 10px;
}

/*斜角块*/
header .bevel {
    float: right;
    border-left: 50px transparent dotted;
    border-bottom: 50px #53200F solid;
    width: 0;
    height: 0;
    overflow: hidden;
}

header .header-main-nav li.nav-li {
    float: left;
    /*width: 80px;*/
    text-align: center;
    padding: 0 20px 0 15px;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
}

header .header-main-nav li.nav-li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
    display: block;
    /*padding-bottom: 10px;*/
}

header .header-main-nav li.nav-li a:hover,
header .header-main-nav li.nav-li a.action {
    border-bottom: 2px #fff solid;
}

header .header-main-nav li.nav-root {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    background: url("../images/nav-more.png") no-repeat right center;
    line-height: 38px;
    height: 40px;
}

header .header-main-nav ul.nav-root-child {
    position: absolute;
    top: 40px;
    left: 0;
    width: 120px;
    z-index: 11;
    list-style: none;
    background-color: #fff;
    display: none;
}

header .header-main-nav ul.nav-root-child li {
    border-bottom: 1px #ddd solid;
}

header .header-main-nav ul.nav-root-child a {
    color: #4f1809;
}

header .header-main-nav ul.nav-root-child a:hover {
    border: 0;
    color: #e65116;
}

header .header-main-nav li.nav-root:hover {
    background-color: #fff;
    color: #5B220B;
    background-image: url("../images/nav-more-hover.png");
}

header .header-main-nav ul.nav-root-child:hover,
header .header-main-nav li.nav-root:hover ul.nav-root-child {
    display: block;
}

/*页脚*/
footer {
    width: 100%;
    height: 455px;
}

footer .footer-top {
    height: 35px;
}

footer .footer-top .footer-top-main {
    float: right;
    width: 35px;
    height: 35px;
    background-color: #5B220B;
}

footer .footer-top .bevel {
    float: right;
    border-left: 35px transparent dotted;
    border-bottom: 35px #5B220B solid;
    overflow: hidden;
    width: 0;
    height: 0;
}

footer .footer-center {
    background-color: #5B220B;
    height: 350px;
}

/*页脚左边框*/
footer .footer-center .footer-center-left {
    width: 45%;
    float: left;
    padding: 30px 30px 30px 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

footer .footer-center .footer-center-left-logo {
    height: 70px;
    background: url("../images/footer-logo.png") no-repeat left center;
}

footer .footer-center .footer-center-left-main {

}

footer .footer-center .footer-center-left-main .footer-center-left-weiXin,
footer .footer-center .footer-center-left-main .footer-center-left-main-phone {
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    width: 50%;
}

footer .footer-center .footer-center-left-main .footer-center-left-main-phone .footer-center-left-main-phone-title {
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
}

footer .footer-center .footer-center-left-main .footer-center-left-main-phone .footer-center-left-main-phone-center {
    font-size: 22px;
    color: #E66514;
    font-weight: 600;
    padding: 5px 0;
}

footer .footer-center .footer-center-left-main .footer-center-left-main-phone-online p:first-child {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}

footer .footer-center .footer-center-left-main .footer-center-left-main-phone-online a {
    color: #aaa;
    display: block;
    margin: 10px 0;
    padding: 15px 0 15px 60px;
    background: url("../images/online.png") no-repeat left center;
}

footer .footer-center .footer-center-left-main .footer-center-left-weiXin p {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}

footer .footer-center .footer-center-right {
    float: right;
    width: 55%;
    padding: 30px 100px 30px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

footer .footer-center .footer-center-right .footer-center-right-box {
    float: left;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    text-align: center;
}

footer .footer-center .footer-center-right .footer-center-right-box p {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
}

footer .footer-center .footer-center-right .footer-center-right-box a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 16px;
    padding: 5px 0;
}

footer .footer-bottom {
    background-color: #5B220B;
    height: 70px;
    position: relative;
}

footer .footer-bottom .footer-bottom-center-main {
    background-color: #42190A;
    line-height: 70px;
    height: 70px;
    text-align: right;
    margin-left: 70px;
}

footer .footer-bottom .footer-bottom-center-main p {
    padding-right: 100px;
    color: #aaa;
    font-size: 14px;
}

.footer-bottom-bevel-main {
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
}

footer .footer-bottom .footer-bottom-bevel {
    text-align: right;
    float: right;
    border-left: 35px transparent dotted;
    border-bottom: 35px #42190A solid;
    overflow: hidden;
    width: 0;
    height: 0;
}

footer .footer-bottom .footer-bottom-bevel-bottom {
    float: right;
    height: 35px;
    width: 100%;
    background-color: #42190A;
}

/*  footer end---------------------------------------------------------------------------------------- */

/*上方页面头 -----------------------------------------------------------------*/
section.section-top .section-top-bg {
    position: relative;
}

section.section-top .section-top-bg img {
    width: 100%;
}

section.section-top .section-top-bg h1 {
    position: absolute;
    left: 8%;
    bottom: 12%;
    color: #fff;
    font-size: 60px;
    font-weight: 600;

}

section.section-top .section-top-crumbs {
    font-size: 14px;
    padding: 10px 8%;
    border-bottom: 1px #ddd solid;
}

section.content {
    padding: 0 8%;
}

section.content .content-nav,
section.content .content-main {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section.content .content-nav {
    width: 22%;
    padding-right: 20px;
}

section.content .content-nav h2 {
    padding: 20px 0;
    color: #521e0f;
    font-size: 20px;
}

section.content .content-nav nav {
    padding: 0 20px 0 40px;
}

section.content .content-nav nav ul {
    list-style: none;
    font-size: 14px;

}

section.content .content-nav nav ul li {

    margin-left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

section.content .content-nav nav ul li a {
    display: block;
    padding: 15px 0 15px 30px;
    color: #666;
    font-weight: 500;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: no-repeat left center;
}

section.content .content-nav nav ul li:hover {
    margin-left: 5px;
}

section.content .content-nav nav ul li:hover a {
    color: #521e0f;
    text-shadow: 3px 3px 6px #999;
}

section.content .content-nav .content-nav-1 {
    background-image: url("../images/content-nav-icon-1.png");
}

section.content .content-nav .content-nav-1:hover {
    background-image: url("../images/content-nav-icon-1-hover.png");
}

section.content .content-nav .content-nav-2 {
    background-image: url("../images/content-nav-icon-2.png");
}

section.content .content-nav .content-nav-2:hover {
    background-image: url("../images/content-nav-icon-2-hover.png");
}

section.content .content-nav .content-nav-3 {
    background-image: url("../images/content-nav-icon-3.png");
}

section.content .content-nav .content-nav-3:hover {
    background-image: url("../images/content-nav-icon-3-hover.png");
}

section.content .content-nav .content-nav-4 {
    background-image: url("../images/content-nav-icon-4.png");
}

section.content .content-nav .content-nav-4:hover {
    background-image: url("../images/content-nav-icon-4-hover.png");
}

section.content .content-nav .content-nav-5 {
    background-image: url("../images/content-nav-icon-5.png");
}

section.content .content-nav .content-nav-5:hover {
    background-image: url("../images/content-nav-icon-5-hover.png");
}

section.content .content-nav .content-nav-6 {
    background-image: url("../images/content-nav-icon-6.png");
}

section.content .content-nav .content-nav-6:hover {
    background-image: url("../images/content-nav-icon-6-hover.png");
}

section.content .content-nav .content-nav-7 {
    background-image: url("../images/content-nav-icon-7.png");
}

section.content .content-nav .content-nav-7:hover {
    background-image: url("../images/content-nav-icon-7-hover.png");
}

section.content .content-nav .content-nav-8 {
    background-image: url("../images/content-nav-icon-8.png");
}

section.content .content-nav .content-nav-8:hover {
    background-image: url("../images/content-nav-icon-8-hover.png");
}

/* content nav end --------------------------------------------------------------------------------------------*/
section.content .content-main {
    width: 78%;
    min-height: 500px;
    border-left: 1px #ddd solid;
    padding: 0 40px;
}

/* 网点查询 */
section.content .networkQueryContent.content-main .selectArea {
    width: 80%;
    border: 1px #dddddd solid;
    padding: 20px;
    margin: 30px 0;
}

section.content .networkQueryContent.content-main .selectAreaInput:hover {
    border-color: #aaa;
}

section.content .networkQueryContent.content-main .selectArea p {
    margin-bottom: 20px;
    font-size: 16px;
}

section.content .networkQueryContent.content-main .selectAreaInput {
    /*margin: 30px 0;*/
    padding-left: 50px;
    padding-right: 10px;
    border: 1px #ddd solid;
    cursor: pointer;
    background: url("../images/selectAreaInput.png") no-repeat 10px center;
}

section.content .networkQueryContent.content-main .selectAreaInput input {
    border: 0;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    cursor: pointer;
}

section.content .networkQueryContent.content-main .selectArea button {
    width: 100px;
    background-color: #f4a515;
    height: 40px;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}

section.content .networkQueryContent.content-main .selectArea .error {
    font-size: 14px;
    line-height: 30px;
    color: #ff0709;
}

section.content .networkQueryContent.content-main a.comeDoor {
    display: block;
    color: #fff;
    background-color: #f4a515;
    width: 250px;
    padding: 10px;
}

section.content .networkQueryContent.content-main a.comeDoor p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 10px 10px 30px;
    background: url("../images/comeDoor.png") no-repeat 10px center;
}

section.content .networkQueryContent.content-main .networkQueryContent-result {
    display: none;
    width: 100%;
    border: 1px #dddddd solid;
    padding: 20px;
    margin: 30px 0;
    border-radius: 2px;
    position: relative;
}

section.content .networkQueryContent.content-main .networkQueryContent-result .close {
    font-size: 14px;
    padding-right: 30px;
    float: right;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    background: url("../images/close.png") no-repeat right center;
}

section.content .networkQueryContent.content-main .networkQueryContent-result table {
    width: 100%;
    margin-top: 30px;
    text-align: left;
    border: solid #aaa;
    border-width: 1px 0px 0px 1px;
    border-collapse: collapse;
}

section.content .networkQueryContent.content-main .networkQueryContent-result table td {
    border: solid #aaa;
    border-width: 0 1px 1px 0;
    padding: 5px 5px;
    font-size: 14px;
}

section.content .networkQueryContent.content-main .networkQueryContent-result table td:first-child {
    text-align: right;
}

section.content .networkQueryContent.content-main .networkQueryContent-result table tr:nth-child(2n) {
    background-color: #eee;
}

/*在线下单*/
section.content .onlineOrder.content-main {
    padding-right: 100px;
}

section.content .onlineOrder.content-main .schedule {
    border-bottom: 1px #ddd solid;
    padding: 10px 0;

}

section.content .onlineOrder.content-main .schedule .title {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
}

section.content .onlineOrder.content-main .schedule img {
    width: 100%;
}

section.content .onlineOrder.content-main .schedule-main-text {
    position: relative;
    height: 30px;
}

section.content .onlineOrder.content-main .schedule .schedule-box {
    font-size: 14px;
    color: #666;
    position: absolute;
    top: 0;
}

section.content .onlineOrder.content-main .schedule .schedule-box2 {
    left: 30%;
}

section.content .onlineOrder.content-main .schedule .schedule-box3 {
    left: 60%;
}

section.content .onlineOrder.content-main .schedule .schedule-box4 {
    left: 93%;
}

section.content .onlineOrder.content-main .comeDoor {
    border-bottom: 1px #ddd solid;
    padding: 20px 15px;
}

section.content .onlineOrder.content-main .comeDoor .title {
    font-size: 22px;
    line-height: 40px;
}

section.content .onlineOrder.content-main .comeDoor .title-decs {
    font-size: 14px;
    line-height: 30px;
}

section.content .onlineOrder.content-main .comeDoor .hotCity {
    padding: 15px 0;
}

section.content .onlineOrder.content-main .comeDoor .hotCity .hotCity-title {
    font-size: 18px;
    color: #f4a515;
    font-weight: 600;
    float: left;
    width: 20%;
}

section.content .onlineOrder.content-main .comeDoor .hotCity .hotCity-main {
    width: 80%;
    font-size: 14px;
    float: left;
}

section.content .onlineOrder.content-main .comeDoor .hotCity .hotCity-main a {
    width: 15%;
    padding: 5px 0;
    line-height: 20px;
    display: block;
    float: left;
    text-align: center;
}

section.content .onlineOrder.content-main .comeDoor .hotCity .hotCity-main a.hot {
    color: #f4a515;
}

section.content .onlineOrder.content-main .order-form p {
    font-size: 16px;
    padding: 20px 0;
}

section.content .onlineOrder.content-main .order-form .order-form-select,
section.content .onlineOrder.content-main .order-form .order-form-input {
    float: left;
    margin: 10px 0;
    width: 50%;
}

section.content .onlineOrder.content-main .order-form .order-form-select {
    width: 100%;
}

section.content .onlineOrder.content-main .order-form .order-form-textarea label {
    display: block;
    float: left;
}

section.content .onlineOrder.content-main .order-form label {
    font-size: 14px;
    width: 120px;
    text-align: right;
    display: block;
    float: left;
    line-height: 30px;
}

section.content .onlineOrder.content-main .order-form input {
    padding: 5px;
}

section.content .onlineOrder.content-main .order-form .order-form-select input {
    width: 300px;
}

section.content .onlineOrder.content-main .order-form textarea {
    width: 500px;
    height: 150px;
    padding: 10px;
    resize: none;
}

section.content .onlineOrder.content-main .order-form .order-form-time .prompt {
    color: #ff0709;
}

section.content .onlineOrder.content-main .order-form label span {
    color: #ff0709;
}

section.content .onlineOrder.content-main .order-form .submit {
    text-align: center;
}

section.content .onlineOrder.content-main .order-form .submit button {
    background-color: #f4a515;
    padding: 10px;
    width: 120px;
    color: #fff;
    font-size: 16px;

}

/* 选择省市*/
section.content .content-main .selectAreaShow-main {
    position: relative;
}

section.content .content-main .selectAreaShow {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    border: 1px #dddddd solid;
    border-top: 0;
    padding: 10px;
    /*margin: 30px 0;*/
    font-size: 14px;
    z-index: 999;
}

section.content .onlineOrder.content-main .order-form .order-form-selectArea {
    float: left;
    width: 100%;
    margin: 10px 0;
}

section.content .onlineOrder.content-main .order-form .order-form-selectArea input {
    width: 300px;
    cursor: pointer;
}

section.content .onlineOrder.content-main .order-form .order-form-selectArea .selectAreaShow-main {
    width: 450px;
    float: left;
}

section.content .content-main .selectAreaShow .title {
    padding-left: 25px;
    height: 25px;
    line-height: 25px;
    background: url("../images/selectArea-title.png") no-repeat left center;
}

section.content .content-main .selectAreaShow-main {
    /*margin-top: 10px;*/
}

section.content .content-main .selectAreaShow .selectAreaShow-main-box {
    text-align: center;
    width: 80%;
}

section.content .content-main .selectAreaShow .selectAreaShow-main-box1 {
    height: 30px;
    margin-bottom: 10px;
}

section.content .content-main .selectAreaShow a {
    padding: 5px 20px;
    height: 20px;

}

section.content .content-main .selectAreaShow a.action {
    background-color: #313131;
    color: #fff;
}

section.content .content-main .selectAreaShow .selectAreaShow-main-box2 a {
    font-size: 16px;
    border-bottom: 1px #313131 solid;
    margin-bottom: 10px;
    line-height: 20px;
}

section.content .content-main .selectAreaShow .selectAreaShow-main-box2 a,
section.content .content-main .selectAreaShow .selectAreaShow-main-box3 a {
    display: block;
    width: 25%;
    float: left;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section.content .content-main .selectAreaShow .selectAreaShow-main-box3 a:hover {
    background-color: #ddd;
}

/*报价查询结果*/
section.content .content-main.QuoteQueryResults .content-form {
    padding: 30px 0;
    border-bottom: 1px #aaa solid;
}

section.content .content-main.QuoteQueryResults .content-form p {
    font-size: 16px;
    margin-bottom: 30px;

}

section.content .content-main.QuoteQueryResults .content-form label {
    float: left;
    display: block;
    font-size: 14px;
    line-height: 30px;
    width: 100px;
    text-align: right;
    color: #666;
}

section.content .content-main.QuoteQueryResults .content-form button {
    margin-left: 100px;
    width: 80px;
    background-color: #f39800;
    color: #fff;
    padding: 10px;
}

section.content .content-main.QuoteQueryResults .content-form .form-input .selectInput {
    margin-right: 20px;
}

section.content .content-main.QuoteQueryResults .content-form .form-input input {
    padding: 5px;
}

section.content .content-main.QuoteQueryResults .content-form .form-input {
    width: 100%;
    height: 40px;
    padding: 5px 0;

}

section.content .content-main.QuoteQueryResults .content-form .form-input span {
    font-size: 14px;
    color: #666;
}

section.content .QuoteQueryResults.content-main .table-results table {
    width: 80%;
    margin-top: 30px;
    text-align: left;
    border: solid #aaa;
    border-width: 1px 0px 0px 1px;
    border-collapse: collapse;
}

section.content .QuoteQueryResults.content-main .table-results table td {
    border: solid #bbb;
    border-width: 0 1px 1px 0;
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
}

section.content .QuoteQueryResults.content-main .table-results table td:first-child {
    background-color: #dcdcdc;
}

section.content .content-main.QuoteQueryResults .text {
    margin: 30px 0;
    color: #666;
}

section.content .content-main.QuoteQueryResults .text-p {
    margin-bottom: 15px;
}

section.content .content-main.QuoteQueryResults .text-p p {
    line-height: 20px;
}

.red-font {
    color: #ff0709;
}

/*下拉组件*/
.selectInput {
    float: left;
    position: relative;
}

.selectInput input {
    float: left;
}

.selectInput .select-icon {
    width: 20px;
    height: 29px;
    border: 1px #aaa solid;
    border-left: 0;
    background: url("../images/select.png") no-repeat right center;
    float: left;
    cursor: pointer;
}

.selectInput .selectList {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    height: 200px;
    border: 1px #ddd solid;
    overflow-y: scroll;
}

.selectInput .selectList .selectNode {
    padding: 8px 5px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px #ddd solid;
}

.selectInput .selectList .selectNode.action {
    background-color: #999;
    color: #fff;
}

.selectInput .selectList .selectNode:hover {
    background-color: #999;
    color: #fff;
}

