* {
    padding: 0;
    margin: 0 auto;
}

body {
    text-align: center;
}

header {
    background: #82d1c4;
    text-align: center;
    color: #333;
    padding: 50px 0;
    font-size: 22px;
}

.content {
    padding: 10px;
    max-width: 900px;
    text-align: left;
}

.nav {
    padding: 10px;
}

.nav .group {
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
}

.nav .title {
    padding: 10px 0;
    font-size: 18px;
}

.nav ul li {
    padding: 10px;
}

ul {
    list-style: none;
}