*{
	padding: 0;
	margin: 0 auto;
}
body{
	font-family: "微软雅黑";
	font-size: .3rem;
	background-color: #FFE3EB;
}
.main{
	padding: .2rem 4%;
}
header{
	overflow: auto;
	zoom: 1;
}	
.info, .btn-main{
	width: 50%;
	box-sizing: border-box;
	float: left;
}
.info .logo{
	background: url("../images/logo.png") no-repeat left center;
	background-size: 2.3rem .66rem;
	height: .7rem;
}
.info .info-num{
	font-size: .4rem;
	color: #A56A35;
	border-bottom: 1px #A56A35 solid;
	line-height: .7rem;
}
.info .info-num span{
	font-weight: 600;
	font-size: .45rem;
}
.btn-main{
	text-align: center;
	position: relative;
	height: 1.4rem;
}
.btn-main .btn{
	position: absolute;
	display: absolute;
	bottom: 0;
	right: 0;
	width: 90%;
	height: 1rem;
	background: url("../images/buy_Electric_coin.png") no-repeat center;
	background-size: 100%;
	color: #FFE8A2;
}
.btn-main .btn p{
	position: absolute;
	bottom: .1rem;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: .15rem;
}
.list{
	padding-top: .4rem;
}
.list-title{
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
	background-color: #ECAAAB;
	text-align: center;
	line-height: .6rem;
	padding-left: 1rem; 
	color: #A15910;
	position: relative;
}	
.list-title img{
	position: absolute;
	width: .7rem;
	top: -0.1rem;
	left: .3rem;
}
.list-content{
	height: 4.5rem;
	background-color: #8F5554;
	border-bottom-left-radius: .2rem;
	border-bottom-right-radius: .2rem;
	overflow: auto;
	zoom: 1;
	padding: 0 .1rem;
}
.list-btn{
	width: .4rem;
	height: 4.5rem;
	text-align: center;
	background: url("../images/left_right_button.png") no-repeat center;
	background-size: .33rem;
}
.list-btn-left{
	float: left;
}
.list-btn-right{
	transform: rotate(180deg);
	float: right;
}
.list-main{
 	overflow: auto;
 	zoom: 1;
 	height: 4.5rem;
 	position: relative;
}
.list-main-box{
	padding: .3rem .2rem 0 .2rem;
}
.list-main-content{
	overflow: auto;
}
.list-box{
	position: relative;
	float: left;
	width: 28%;
	color: #FFEEEE;
	background-color:  #E5A8A6;
	text-align: center;
	border-radius: .1rem;
	margin-right: 7%;
	margin-bottom: .3rem;
	box-sizing: border-box;
	padding: .08rem;
	height: 1rem;
	box-shadow: 2px 2px 2px #814A49;
}
.list-box.disable{
	background-color: #B6B6B6;
	color: #9B9B9B;
}
.list-box.active{
	background-color:  #FCC829;
	color: #A15910;
}
.list-box img{
	display: none;
}
.list-box.active img{
	display: block;
	position: absolute;
	width: .4rem;
	height: .4rem;
	top: -0.15rem;
	right: -0.15rem;
}
.list-box:nth-child(3n){
	margin-right: 0;
}
.list-box:nth-child(7), 
.list-box:nth-child(8),
.list-box:nth-child(9){
	margin-bottom: 0;
}
.list-box-name{
	font-size: .45rem;
	padding-bottom: .05rem;
	font-weight: 600;
	pointer-events: none;
}
.list-box-num{
	font-size: .18rem;
	pointer-events: none;
}
.list-main-now{
	position: absolute;
	bottom: .1rem;
	left: 0;
	width: 100%;
	text-align: center;
	padding-top: .2rem;
	overflow: auto;
	zoom: 1;
	height: .15rem;
}
.list-main-now-main{
	position: absolute;
	/*width: 100%;*/
	left: 40%;
}
.list-main-now .spot{
	padding: 0.05rem;
	background-color: #C47976;
	border-radius: .05rem;
	float: left;
	margin: 0 .1rem;	
}
.list-main-now .spot.active{
	background-color: #FFE3EB;
}


.coin-num{
	position: absolute;
	bottom: .6rem;
	width: 100%;
	box-sizing: border-box;
	padding: 0 5%; 
}
.coin-num-main{
	border-radius: .3rem;
	/*overflow: auto;*/
	zoom: 1;
	padding: .2rem;
	box-sizing: border-box;
	border: 2px #FF7597 dashed; 
	height: 1.2rem;
	position: relative;
}
.coin-num-box{
	float: left;
	overflow: auto;
	zoom: 1;
	width: 50%;
	
}
.coin-num-box .num-btn ,.coin-num-box .num-text{
	float: left;
	text-align: center;
	font-size: .4rem;
}
.coin-num-box .num-btn{
	border-radius: .1rem;
	width: .5rem;
	height: .5rem;
	margin: .1rem;
	background-color: #FFD8E3;
	background: no-repeat center;
	background-size: 100%;
}
.coin-num-box .num-btn.minus{
	background-image: url(../images/Minus.png);
}
.coin-num-box .num-btn.plus{
	background-image: url(../images/Plus.png);
}
.coin-num-box .num-text{
	width: 1rem;
	line-height: .7rem;
	color: #FF4573;
}
.coin-num-btn{
	float: left;
	width: 50%;
	text-align: center;
	/*position: relative;*/
}
.coin-num-btn a{
	position: absolute;
	top: -0.1rem;
	right: -0.1rem;
	width: 50%;
	height: 1.3rem;
	display: block;
	background:url(../images/Coin_in.png) no-repeat center;
	background-size: 100%;
}
.coin-num-text{
	font-size: .15rem;
	text-align: center;
	line-height: .6rem;
	color: #8F5554;
}



footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: auto;
	zoom: 1;
}
footer .about-box, footer .btn-box{
	float: left;
	text-align: center;
	line-height: .6rem;
	font-size: .25rem;
	background-color: #ECAAAB;
	color: #8F5554;
}
footer .about-box{
	width: 50%;
}
footer .btn-box{
	width: 25%;
}
footer .btn-box-first{
	background-color: #DD999A;
}


/*下弹窗*/
.bottom-push-win{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5);
}
.bottom-push-win-main{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.buy-coin-win .win-title{
	background: url(../images/Credit_card.png) #ECAAAB no-repeat .3rem center;
	background-size: .7rem;
}
.bottom-push-win .win-title{
	text-align: center;
	padding: .15rem;
	position: relative;
	font-size: .35rem;
	color: #754241;
	background-color: #ECAAAB;
}

.bottom-push-win .win-title-info{
	position: absolute;
	right: .2rem;
	top: .2rem;
	font-size: .25rem;
}
.buy-coin-win .win-content{
	overflow: auto;
	background-color: #FFE3EB;
	padding: .4rem .4rem 0 .4rem; 
}
.bottom-push-win .win-btns{
	overflow: auto;
}
.bottom-push-win .win-btns a{
	float: left;
	box-sizing: border-box;
	display: block;
	padding: .2rem 0;
	font-size: .35rem; 
	text-align: center;
}
 .bottom-push-win .win-btn-close{
	width: 40%;
	background-color: #C6BBBE;
	color: #777777;
}
 .bottom-push-win .win-btn-buy{
	width: 60%;
	background-color: #FCC829;
	color: #A15910;
}
.bottom-push-win .buy-coin-win .fee-list{
	padding: 0 .2rem;
}

.buy-coin-win .fee-list-box{
	float: left;
	width: 28%;
	margin-right: 7%;
	margin-bottom: .3rem;
	text-align: center;
}
.buy-coin-win .fee-list-box .fee-info{
	width: 100%;
	color: #FFEEEE;
	background-color:  #C8817E;
	text-align: center;
	border-radius: .1rem;
	box-sizing: border-box;
	padding: .08rem;
	box-shadow: 2px 2px 2px #814A49;
	position: relative;
}
.buy-coin-win .fee-list-box .fee-info img{
	display: none;
	position: absolute;
	width: .4rem;
	height: .4rem;
	top: -0.15rem;
	right: -0.15rem;
}
.buy-coin-win .fee-list-box.active .fee-info{
	background-color: #FCC829;
	color: #A15910;
}
.buy-coin-win .fee-list-box.active .fee-info img{
	display: block;
}
.buy-coin-win .fee-list-box .fee-give{
	line-height: .5rem;
	font-size: .2rem;
	color: #DF4860;
	padding-left: .45rem;
	background: url(../images/send.png) no-repeat left center;
	background-size: .4rem; 
}
.buy-coin-win .fee-list-box .coin{
	font-size: .25rem;
}
.buy-coin-win .fee-list-box .fee span{
	font-size: .4rem;
}
.buy-coin-win .fee-list-box:nth-child(3n){
	margin-right: 0;
}

/*提示窗口*/
.prompt-win{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.prompt-win-main{
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	width: 55%;
	margin: 0 auto;
	background-color: rgba(0,0,0,.9);
	border-radius: .1rem;
	padding: .2rem;
	box-sizing: border-box;
	color: #ECAAAB;
	text-align: center;
}
.success-buy-icon{
	height: .6rem;
	width: 100%;
	background: url(../images/tick.png) no-repeat center;
	background-size: .6rem ;
}
.prompt-win-content-text{
	font-size: .38rem;
	padding: .05rem 0;
}
.prompt-win-content-text .heightlight{
	color: #FFEDF2;
}
.prompt-win-content-prompt-text{
	font-size: .2rem;
}

.success-coin{
}
.success-coin-icon{
	height: .6rem;
	padding-left: .6rem;
	background: url(../images/tick.png) no-repeat left center;
	background-size: .6rem;

}
.coin-insufficient{
}

/*中部弹窗*/
.center-push-win{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.center-push-win-main{
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	width: 80%;
}
.center-push-win-main .win-title{
	background-color: #ECAAAB;
	color: #8F5554;
	text-align: center;
	padding: .2rem;
	font-size: .35rem;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
	position: relative;
}
.center-push-win-main .win-title .win-close{
	position: absolute;
	top: 0;
	bottom: 0;
	left: .1rem;
	margin: auto;
	width: .8rem;
	height: .7rem;
	background: url(../images/cross.png) no-repeat center;
	background-size: .3rem;
}
.center-push-win-main  .win-content{
	background-color: #FFE3EB;
	border-bottom-left-radius: .2rem;
	border-bottom-right-radius: .2rem;
	padding: .2rem;
	color: #8F5554;
}
.center-push-win-main  .win-content .win-content-box{
	padding: .1rem .2rem;
	overflow: auto;
	zoom:1;
	font-size: .35rem;
}
.center-push-win-main  .win-content .win-content-box .box-name{
	float: left;

}
.center-push-win-main  .win-content .win-content-box .box-value{
	float: right;
}
.center-push-win-main  .win-content .win-content-text{
	border-top: 1px #8F5554 solid;
	margin: .1rem 0; 
	padding: .2rem 0;
	font-size: .25rem;
	text-align: center;
}
.center-push-win-main  .win-content .btn{
	display: block;
	text-align: center;
	font-size: .35rem;
	background-color: #FFC44D;
	border-radius: .15rem;
	border-bottom: 2px #B65708 solid; 
	padding: .15rem;
}
.center-push-win-main  .win-content .big-font{
	font-weight: 600;
	font-size: .3rem;
}

/*消费记录*/
.record-win{
	/*display: block;*/
}
.record-win .retrun-btn{
	display: block;
	width: 100%;
	background-color: #F5B8B9;
	color: #B37474;
	text-align: center;
	font-size: .32rem;
}
.record-win .win-content{
	background-color: #FFE3EB;
}
.record-list{
	max-height: 5rem;
	overflow: scroll;
	position: relative;
}
.record-list table{
	width: 100%;
	text-align: center;
	color: #B37474;
	table-layout:fixed;
	border-collapse:collapse;
	
}
.record-list table th{
	font-weight: 400;
	padding: .1rem;
	font-size: .22rem;
}

.record-list table tbody tr:nth-child(2n-1){
	background-color: #FBD8DE;
}
.record-list table td{
	padding: .1rem .05rem;
	font-size: .22rem;
	max-width: 1.2rem;
	vertical-align:text-top;
}
.record-list table td:nth-child(1),
.record-list table td:nth-child(2)
{
	text-align: left;
}
.record-list .error-text{
	position: absolute;
	color: #2D638F;
	font-size: .15rem;
	padding-left: .1rem;
	padding-top: .1rem; 
}