* {
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: "微软雅黑";
    font-size: .3rem;
    background-color: #FFE3EB;
}

button,
a {
    text-decoration: none;
    color: inherit;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

button:active,
a:active {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url(../images/2016-11-21-A套餐开始高亮-星奈吉会员充值界面.png) no-repeat ;
    background-size: 100% 100%;
    z-index: 99;
}
.main {
    padding: .2rem .2rem;
}

header {
    overflow: auto;
    zoom: 1;
}

.info,
.btn-main {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.info .logo {
    background: url("../images/logo.png") no-repeat left center;
    background-size: 2rem .6rem;
    height: .6rem;
}

.info .info-num {
    font-size: .4rem;
    color: #A56A35;
    border-bottom: 1px #A56A35 solid;
    line-height: .7rem;
}

.info .info-num span {
    font-weight: 600;
    font-size: .6rem;
    padding-right: .15rem;
}
.info .info-num .big-font{
    font-size: .42rem;
    font-weight: 600;
}
.btn-main {
    text-align: center;
    position: relative;
    height: 1.4rem;
}

.btn-main .btn {
    position: absolute;
    display: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 1rem;
    background: url("../images/buy_Electric_coin.png") no-repeat center;
    background-size: 100%;
    color: #FFE8A2;
}

.btn-main .btn p {
    position: absolute;
    bottom: .1rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: .15rem;
}

.list {
    padding-top: .4rem;
}

.list-title {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    background-color: #ECAAAB;
    text-align: center;
    line-height: .6rem;
    padding-left: 1rem;
    color: #754241;
    position: relative;
}

.list-title img {
    position: absolute;
    width: .7rem;
    top: -0.1rem;
    left: .3rem;
}

.list-content {
    height: 4.5rem;
    background-color: #8F5554;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    overflow: auto;
    zoom: 1;
    padding: 0 .1rem;
}

.list-btn {
    width: .4rem;
    height: 4.5rem;
    text-align: center;
    background: url("../images/left_right_button.png") no-repeat center;
    background-size: .38rem;
}

.list-btn-left {
    float: left;
}

.list-btn-right {
    transform: rotate(180deg);
    float: right;
}

.list-main {
    overflow: auto;
    zoom: 1;
    height: 4.5rem;
    position: relative;
}

.list-main-box {
}

.list-main-content {
    overflow: auto;
}
.list-main-box{
    position: absolute;
    left: 0;
    right: 0;
    transition: left 1.5s ease-out;
    width: 18rem;
}
.list-main-box-child{
    float: left;
    width: 5rem;
    overflow: auto;
    box-sizing: border-box;
    padding: .3rem .2rem;
}

.list-box {
    position: relative;
    float: left;
    width: 28%;
    color: #FFEEEE;
    background-color: #E5A8A6;
    text-align: center;
    border-radius: .1rem;
    margin-right: 7%;
    margin-bottom: .3rem;
    box-sizing: border-box;
    padding: .08rem;
    height: 1rem;
    box-shadow: 2px 2px 2px #814A49;
}

.list-box.disable {
    background-color: #B6B6B6;
    color: #9B9B9B;
}

.list-box.active {
    background-color: #FCC829;
    color: #A15910;
}

.list-box img {
    display: none;
}

.list-box.active img {
    display: block;
    position: absolute;
    width: .4rem;
    height: .4rem;
    top: -0.15rem;
    right: -0.15rem;
}

.list-box:nth-child(3n) {
    margin-right: 0;
}

.list-box:nth-child(7),
.list-box:nth-child(8),
.list-box:nth-child(9) {
    margin-bottom: 0;
}

.list-box-name {
    font-size: .45rem;
    padding-bottom: .05rem;
    font-weight: 600;
    pointer-events: none;
}

.list-box-num {
    font-size: .18rem;
    pointer-events: none;
}

.list-main-now {
    position: absolute;
    bottom: .1rem;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: .2rem;
    overflow: auto;
    zoom: 1;
    height: .2rem;
}

.list-main-now-main {
    position: absolute;
    /*width: 100%;*/
    left: 38%;
}

.list-main-now .spot {
    height: .15rem;
    width: .15rem;
    background-color: #C47976;
    border-radius: 50%;
    float: left;
    margin: .02rem .1rem;
}

.list-main-now .spot.active {
    background-color: #FFE3EB;
    height: .19rem;
    width: .19rem;
    margin: 0 .1rem;
}

.coin-num {
    position: absolute;
    bottom: .6rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}

.coin-num-main {
    border-radius: .3rem;
    zoom: 1;
    box-sizing: border-box;
    border: 2px #FF7597 dashed;
    height: 1.2rem;
    position: relative;
}

.coin-num-box {
    float: left;
    overflow: auto;
    zoom: 1;
    width: 50%;
}

.coin-num-box .num-btn,
.coin-num-box .num-text {
    float: left;
    text-align: center;
    font-size: .4rem;
    padding: .2rem 0;
}

.coin-num-box .num-btn {
    border-radius: .1rem;
    width: .5rem;
    height: .5rem;
    margin: .1rem;
    background-color: #FFD8E3;
}

.coin-num-box .num-btn.minus {
    padding-left: .2rem;
    background: url(../images/Minus.png) no-repeat right center;
    background-size: .5rem;
}

.coin-num-box .num-btn.plus {
    padding-right: .2rem;
    background: url(../images/Plus.png) no-repeat left center;
    background-size: .5rem;
}

.coin-num-box .num-text {
    width: 1rem;
    line-height: .7rem;
    font-size: .46rem;
    color: #FF4573;
}

.coin-num-btn {
    float: left;
    width: 50%;
    text-align: center;
    /*position: relative;*/
}

.coin-num-btn a {
    position: absolute;
    top: -0.1rem;
    right: -0.1rem;
    width: 50%;
    height: 1.4rem;
    display: block;
    background: url(../images/Coin_in.png) no-repeat center;
    background-size: 100% 100%;
}

.coin-num-text {
    font-size: .15rem;
    text-align: center;
    line-height: .6rem;
    color: #8F5554;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    zoom: 1;
}

footer .about-box,
footer .btn-box {
    float: left;
    text-align: center;
    line-height: .6rem;
    font-size: .25rem;
    background-color: #ECAAAB;
    color: #8F5554;
}

footer .about-box {
    width: 50%;
}

footer .btn-box {
    width: 25%;
}

footer .btn-box-first {
    background-color: #DD999A;
}


/*下弹窗*/

.bottom-push-win {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.bottom-push-win-main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.buy-coin-win .win-title {
    background: url(../images/Credit_card.png) #ECAAAB no-repeat .3rem center;
    background-size: .7rem;
}

.bottom-push-win .win-title {
    text-align: center;
    padding: .15rem;
    position: relative;
    font-size: .35rem;
    color: #754241;
    background-color: #ECAAAB;
}

.bottom-push-win .win-title-info {
    position: absolute;
    right: .2rem;
    top: .2rem;
    font-size: .25rem;
}

.buy-coin-win .win-content {
    overflow: auto;
    background-color: #FFE3EB;
    padding: .4rem .4rem 0 .4rem;
}

.bottom-push-win .win-btns {
    overflow: auto;
}

.bottom-push-win .win-btns a {
    float: left;
    box-sizing: border-box;
    display: block;
    padding: .2rem 0;
    font-size: .35rem;
    text-align: center;
}

.bottom-push-win .win-btn-close {
    width: 40%;
    background-color: #C6BBBE;
    color: #777777;
}

.bottom-push-win .win-btn-buy {
    width: 60%;
    background-color: #FCC829;
    color: #A15910;
}

.bottom-push-win.buy-coin-win .fee-list {
    padding: 0 .2rem;
    text-align: center;
}

.buy-coin-win .fee-list-box {
    float: left;
    width: 28%;
    margin-right: 7%;
    margin-bottom: .3rem;
    text-align: center;
}

.buy-coin-win .fee-list-box .fee-info {
    width: 100%;
    color: #FFEEEE;
    background-color: #C8817E;
    text-align: center;
    border-radius: .1rem;
    box-sizing: border-box;
    padding: .08rem;
    box-shadow: 2px 2px 2px #814A49;
    position: relative;
}

.buy-coin-win .fee-list-box .fee-info img {
    display: none;
    position: absolute;
    width: .4rem;
    height: .4rem;
    top: -0.15rem;
    right: -0.15rem;
}

.buy-coin-win .fee-list-box.active .fee-info {
    background-color: #FCC829;
    color: #A15910;
}

.buy-coin-win .fee-list-box.active .fee-info img {
    display: block;
}

.buy-coin-win .fee-list-box .fee-give {
    line-height: .5rem;
    font-size: .2rem;
    color: #DF4860;
    padding-left: .45rem;
    background: url(../images/send.png) no-repeat left center;
    background-size: .4rem;
}

.buy-coin-win .fee-list-box .fee-info p {
    pointer-events: none;
}

.buy-coin-win .fee-list-box .coin {
    font-size: .25rem;
}

.buy-coin-win .fee-list-box .fee span {
    font-size: .4rem;
}

.buy-coin-win .fee-list-box:nth-child(3n) {
    margin-right: 0;
}


/*提示窗口*/

.prompt-win {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prompt-win-main {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 55%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: .3rem .2rem;
    box-sizing: border-box;
    color: #ECAAAB;
    text-align: center;
}

.success-buy-icon {
    height: 1rem;
    width: 100%;
    background: url(../images/tick.png) no-repeat center;
    background-size: .6rem;
}

.prompt-win-content-text {
    font-size: .38rem;
    padding: .05rem 0;
}

.prompt-win-content-text .heightlight {
    color: #FFEDF2;
}

.prompt-win-content-prompt-text {
    font-size: .25rem;
    padding: .05rem 0;
}

.countDown{
    padding-top: .2rem;
}
.success-coin {}

.success-coin-icon {
    padding-left: .7rem;
    line-height: 1rem;
    background: url(../images/tick.png) no-repeat left center;
    background-size: .6rem;
}

.coin-insufficient {}


/*中部弹窗*/

.center-push-win {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.center-push-win-main {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 80%;
}

.center-push-win-main .win-title {
    background-color: #ECAAAB;
    color: #8F5554;
    text-align: center;
    padding: .2rem;
    font-size: .35rem;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    position: relative;
}

.center-push-win-main .win-title .win-close {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .1rem;
    margin: auto;
    width: .8rem;
    height: .7rem;
    background: url(../images/cross.png) no-repeat center;
    background-size: .3rem;
}

.center-push-win-main .win-content {
    background-color: #FFE3EB;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    padding: .2rem;
    color: #8F5554;
}

.center-push-win-main .win-content .win-content-box {
    padding: .1rem .2rem;
    overflow: auto;
    zoom: 1;
    font-size: .35rem;
}

.center-push-win-main .win-content .win-content-box .box-name {
    float: left;
}

.center-push-win-main .win-content .win-content-box .box-value {
    float: right;
}

.center-push-win-main .win-content .win-content-text {
    border-top: 1px #8F5554 solid;
    margin: .1rem 0;
    padding: .2rem 0;
    font-size: .25rem;
    text-align: center;
}

.center-push-win-main .win-content .btn {
    display: block;
    text-align: center;
    font-size: .35rem;
    background-color: #FFC44D;
    border-radius: .15rem;
    border-bottom: 2px #B65708 solid;
    padding: .15rem;
}

.center-push-win-main .win-content .big-font {
    font-weight: 600;
    font-size: .3rem;
}


/*消费记录*/

.record-win {
    /*display: block;*/
}

.record-win .retrun-btn {
    display: block;
    width: 100%;
    background-color: #F5B8B9;
    color: #B37474;
    text-align: center;
    font-size: .32rem;
}

.record-win .win-content {
    background-color: #FFE3EB;
}

.record-list {
    height: 4.2rem;
    overflow: scroll;
    position: relative;
}
.record-list-header{

}
.record-list-header table,
.record-list table {
    width: 100%;
    text-align: center;
    color: #B37474;
    table-layout: fixed;
    border-collapse: collapse;
}
.record-list-header table th,
.record-list table th {
    font-weight: 400;
    padding: .1rem;
    font-size: .22rem;
}

.record-list table tbody tr:nth-child(2n-1) {
    background-color: #FBD8DE;
}

.record-list table td {
    padding: .1rem .05rem;
    font-size: .22rem;
    max-width: 1.2rem;
    vertical-align: text-top;
}

.record-list table td:nth-child(1),
.record-list table td:nth-child(2) {
    text-align: left;
}

.record-list .error-text {
    position: absolute;
    color: #2D638F;
    font-size: .15rem;
    padding-left: .1rem;
    padding-top: .1rem;
}
.loading-text{
    display: none;
    text-align: center;
    color: #B37474;
    font-size: .22rem;
    padding: .2rem;
}




/*-----------------loading--------------------------------*/
.loading-main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.loading-box {
    font-size: .3rem;
    position: absolute;
    top: 25%;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    width: 2rem;
    height: .5rem;
    margin: auto;
    padding-top: 2rem;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .8);
}

.loadingDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: .25;
}

.loadingDiv:before {
    position: absolute;
    width: 8px;
    height: 3px;
    content: ' ';
    -webkit-transform-origin: left 50% 0;
    -ms-transform-origin: left 50% 0;
    transform-origin: left 50% 0;
    border-radius: 1px;
    background: #d1d1d5;
    box-shadow: rgba(0, 0, 0, .0980392) 0 0 1px;
}
#DialogLoading {
    /*display: none;*/
}

.loadingDia {
    font-size: .33rem;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 30%;
    bottom: 37.5%;
    left: 30%;
    width: 40%;
    height: 25%;
    text-align: center;
    border: 0;
    border-radius: .1rem;
    background: rgba(0, 0, 0, .8);
}

#ContentLoading {
    height: auto;
}

#ContentLoading .loadingText {
    width: 100%;
    height: auto;
    margin-top: 70%;
    text-align: center;
    color: #fff;
}

.loadingWrap,
.loadingWrap .dialogMask {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hide {
    display: none!important;
}

.show {
    display: show;
}

.loadingWrap {
    z-index: 999;
    top: 0;
    bottom: 0;
}

.loadingDiv_0 {
    -webkit-animation: opacity-60-25-0-12 1.25s linear infinite;
    animation: opacity-60-25-0-12 1.25s linear infinite;
}

.loadingDiv_0:before {
    -webkit-transform: rotate(0) translate(7.92px, 0);
    -ms-transform: rotate(0) translate(7.92px, 0);
    transform: rotate(0) translate(7.92px, 0);
}

.loadingDiv_1 {
    -webkit-animation: opacity-60-25-1-12 1.25s linear infinite;
    animation: opacity-60-25-1-12 1.25s cubic-bezier(.4, -.08, .45, .57) infinite;
}

.loadingDiv_1:before {
    -webkit-transform: rotate(30deg) translate(7.92px, 0);
    -ms-transform: rotate(30deg) translate(7.92px, 0);
    transform: rotate(30deg) translate(7.92px, 0);
}

.loadingDiv_2 {
    -webkit-animation: opacity-60-25-2-12 1.25s linear infinite;
    animation: opacity-60-25-2-12 1.25s linear infinite;
}

.loadingDiv_2:before {
    -webkit-transform: rotate(60deg) translate(7.92px, 0);
    -ms-transform: rotate(60deg) translate(7.92px, 0);
    transform: rotate(60deg) translate(7.92px, 0);
}

.loadingDiv_3 {
    -webkit-animation: opacity-60-25-3-12 1.25s linear infinite;
    animation: opacity-60-25-3-12 1.25s linear infinite;
}

.loadingDiv_3:before {
    -webkit-transform: rotate(90deg) translate(7.92px, 0);
    -ms-transform: rotate(90deg) translate(7.92px, 0);
    transform: rotate(90deg) translate(7.92px, 0);
}

.loadingDiv_4 {
    -webkit-animation: opacity-60-25-4-12 1.25s linear infinite;
    animation: opacity-60-25-4-12 1.25s linear infinite;
}

.loadingDiv_4:before {
    -webkit-transform: rotate(120deg) translate(7.92px, 0);
    -ms-transform: rotate(120deg) translate(7.92px, 0);
    transform: rotate(120deg) translate(7.92px, 0);
}

.loadingDiv_5 {
    -webkit-animation: opacity-60-25-5-12 1.25s linear infinite;
    animation: opacity-60-25-5-12 1.25s linear infinite;
}

.loadingDiv_5:before {
    -webkit-transform: rotate(150deg) translate(7.92px, 0);
    -ms-transform: rotate(150deg) translate(7.92px, 0);
    transform: rotate(150deg) translate(7.92px, 0);
}

.loadingDiv_6 {
    -webkit-animation: opacity-60-25-6-12 1.25s linear infinite;
    animation: opacity-60-25-6-12 1.25s linear infinite;
}

.loadingDiv_6:before {
    -webkit-transform: rotate(180deg) translate(7.92px, 0);
    -ms-transform: rotate(180deg) translate(7.92px, 0);
    transform: rotate(180deg) translate(7.92px, 0);
}

.loadingDiv_7 {
    -webkit-animation: opacity-60-25-7-12 1.25s linear infinite;
    animation: opacity-60-25-7-12 1.25s linear infinite;
}

.loadingDiv_7:before {
    -webkit-transform: rotate(210deg) translate(7.92px, 0);
    -ms-transform: rotate(210deg) translate(7.92px, 0);
    transform: rotate(210deg) translate(7.92px, 0);
}

.loadingDiv_8 {
    -webkit-animation: opacity-60-25-8-12 1.25s linear infinite;
    animation: opacity-60-25-8-12 1.25s linear infinite;
}

.loadingDiv_8:before {
    -webkit-transform: rotate(240deg) translate(7.92px, 0);
    -ms-transform: rotate(240deg) translate(7.92px, 0);
    transform: rotate(240deg) translate(7.92px, 0);
}

.loadingDiv_9 {
    -webkit-animation: opacity-60-25-9-12 1.25s linear infinite;
    animation: opacity-60-25-9-12 1.25s linear infinite;
}

.loadingDiv_9:before {
    -webkit-transform: rotate(270deg) translate(7.92px, 0);
    -ms-transform: rotate(270deg) translate(7.92px, 0);
    transform: rotate(270deg) translate(7.92px, 0);
}

.loadingDiv_10 {
    -webkit-animation: opacity-60-25-10-12 1.25s linear infinite;
    animation: opacity-60-25-10-12 1.25s linear infinite;
}

.loadingDiv_10:before {
    -webkit-transform: rotate(300deg) translate(7.92px, 0);
    -ms-transform: rotate(300deg) translate(7.92px, 0);
    transform: rotate(300deg) translate(7.92px, 0);
}

.loadingDiv_11 {
    -webkit-animation: opacity-60-25-11-12 1.25s linear infinite;
    animation: opacity-60-25-11-12 1.25s linear infinite;
}

.loadingDiv_11:before {
    -webkit-transform: rotate(330deg) translate(7.92px, 0);
    -ms-transform: rotate(330deg) translate(7.92px, 0);
    transform: rotate(330deg) translate(7.92px, 0);
}

@-webkit-keyframes opacity-60-25-0-12 {
    0%,
    .01% {
        opacity: .25;
    }
    .02% {
        opacity: 1;
    }
    100%,
    60.01% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-1-12 {
    0%,
    8.34333% {
        opacity: .25;
    }
    8.35333% {
        opacity: 1;
    }
    100%,
    68.3433% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-2-12 {
    0%,
    16.6767% {
        opacity: .25;
    }
    16.6867% {
        opacity: 1;
    }
    100%,
    76.6767% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-3-12 {
    0%,
    25.01% {
        opacity: .25;
    }
    25.02% {
        opacity: 1;
    }
    100%,
    85.01% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-4-12 {
    0%,
    33.3433% {
        opacity: .25;
    }
    33.3533% {
        opacity: 1;
    }
    100%,
    93.3433% {
        opacity: .25;
    }
}

@-webkit-keyframes opacity-60-25-5-12 {
    0% {
        opacity: .270958333333333;
    }
    41.6767% {
        opacity: .25;
    }
    41.6867% {
        opacity: 1;
    }
    1.67667% {
        opacity: .25;
    }
    100% {
        opacity: .270958333333333;
    }
}

@-webkit-keyframes opacity-60-25-6-12 {
    0% {
        opacity: .375125;
    }
    50.01% {
        opacity: .25;
    }
    50.02% {
        opacity: 1;
    }
    10.01% {
        opacity: .25;
    }
    100% {
        opacity: .375125;
    }
}

@-webkit-keyframes opacity-60-25-7-12 {
    0% {
        opacity: .479291666666667;
    }
    58.3433% {
        opacity: .25;
    }
    58.3533% {
        opacity: 1;
    }
    18.3433% {
        opacity: .25;
    }
    100% {
        opacity: .479291666666667;
    }
}

@-webkit-keyframes opacity-60-25-8-12 {
    0% {
        opacity: .583458333333333;
    }
    66.6767% {
        opacity: .25;
    }
    66.6867% {
        opacity: 1;
    }
    26.6767% {
        opacity: .25;
    }
    100% {
        opacity: .583458333333333;
    }
}

@-webkit-keyframes opacity-60-25-9-12 {
    0% {
        opacity: .687625;
    }
    75.01% {
        opacity: .25;
    }
    75.02% {
        opacity: 1;
    }
    35.01% {
        opacity: .25;
    }
    100% {
        opacity: .687625;
    }
}

@-webkit-keyframes opacity-60-25-10-12 {
    0% {
        opacity: .791791666666667;
    }
    83.3433% {
        opacity: .25;
    }
    83.3533% {
        opacity: 1;
    }
    43.3433% {
        opacity: .25;
    }
    100% {
        opacity: .791791666666667;
    }
}

@-webkit-keyframes opacity-60-25-11-12 {
    0% {
        opacity: .895958333333333;
    }
    91.6767% {
        opacity: .25;
    }
    91.6867% {
        opacity: 1;
    }
    51.6767% {
        opacity: .25;
    }
    100% {
        opacity: .895958333333333;
    }
}

