.dianzibi-app .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url(../images/2016-11-21-A套餐开始高亮-星奈吉会员充值界面.png) no-repeat;
    background-size: 100% 100%;
    z-index: 99;
}

.dianzibi-app .main {
    padding: .2rem .2rem;
}

.dianzibi-app header {
    overflow: auto;
    zoom: 1;
}

.dianzibi-app .info,
.dianzibi-app .btn-main {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.dianzibi-app .info .logo {
    background: url("../images/logo.png") no-repeat left center;
    background-size: 2rem .6rem;
    height: .6rem;
}

.dianzibi-app .info .info-num {
    font-size: .4rem;
    color: #A56A35;
    border-bottom: 1px #A56A35 solid;
    line-height: .7rem;
}

.dianzibi-app .info .info-num span {
    font-weight: 600;
    font-size: .6rem;
    padding-right: .15rem;
}

.dianzibi-app .info .info-num .big-font {
    font-size: .42rem;
    font-weight: 700;
}

.dianzibi-app .btn-main {
    text-align: center;
    position: relative;
    height: 1.4rem;
}

.dianzibi-app .btn-main .btn {
    position: absolute;
    display: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 1rem;
    background: url("../images/buy_Electric_coin.png") no-repeat center;
    background-size: 100% 100%;
    color: #FFE8A2;
}

.dianzibi-app .btn-main .btn p {
    position: absolute;
    bottom: .1rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: .15rem;
}

.dianzibi-app .list {
    padding-top: .4rem;
}

.dianzibi-app .list-title {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    background-color: #ECAAAB;
    text-align: center;
    line-height: .6rem;
    padding-left: 1rem;
    color: #754241;
    position: relative;
}

.dianzibi-app .list-title img {
    position: absolute;
    width: .7rem;
    top: -0.1rem;
    left: .3rem;
}

.dianzibi-app .list-content {
    height: 4.5rem;
    background-color: #8F5554;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    overflow: auto;
    zoom: 1;
    padding: 0 .1rem;
}

.dianzibi-app .list-btn {
    width: .4rem;
    height: 4.5rem;
    text-align: center;
    background: url("../images/left_right_button.png") no-repeat center;
    background-size: .38rem;
    z-index: 77;
}

.dianzibi-app .list-btn-left {
    float: left;
}

.dianzibi-app .list-btn-right {
    transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg); 
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    float: right;
}

.dianzibi-app .list-main {
    overflow: hidden;
    zoom: 1;
    height: 4.5rem;
    position: relative;
    z-index: 66;
}

.dianzibi-app .list-main-box {}

.dianzibi-app .list-main-content {
    overflow: auto;
}

.dianzibi-app .list-main-box {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    transform: translateZ(0);
    transition: left 1.5s ease-out;
    width: 30rem;
     z-index: 66;
}

.dianzibi-app .list-main-box-child {
    float: left;
    width: 5rem;
    overflow: auto;
    box-sizing: border-box;
    padding: .3rem .2rem;
}

.dianzibi-app .list-box {
    position: relative;
    float: left;
    width: 28%;
    color: #FFEEEE;
    background-color: #E5A8A6;
    text-align: center;
    border-radius: .1rem;
    margin-right: 7%;
    margin-bottom: .3rem;
    box-sizing: border-box;
    padding: .08rem;
    height: 1rem;
    box-shadow: 2px 2px 2px #814A49;
}

.dianzibi-app .list-box.disable {
    background-color: #B6B6B6;
    color: #9B9B9B;
}

.dianzibi-app .list-box.active {
    background-color: #FCC829;
    color: #A15910;
}

.dianzibi-app .list-box img {
    display: none;
}

.dianzibi-app .list-box.active img {
    display: block;
    position: absolute;
    width: .4rem;
    height: .4rem;
    top: -0.15rem;
    right: -0.15rem;
}

.dianzibi-app .list-box:nth-child(3n) {
    margin-right: 0;
}

.dianzibi-app .list-box:nth-child(7),
.dianzibi-app .list-box:nth-child(8),
.dianzibi-app .list-box:nth-child(9) {
    margin-bottom: 0;
}

.dianzibi-app .list-box-name {
    font-size: .45rem;
    padding-bottom: .05rem;
    font-weight: 600;
    pointer-events: none;
}

.dianzibi-app .list-box-num {
    font-size: .18rem;
    pointer-events: none;
}

.dianzibi-app .list-main-now {
    position: absolute;
    bottom: .1rem;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: .2rem;
    overflow: auto;
    zoom: 1;
    height: .2rem;
}

.dianzibi-app .list-main-now-main {
    position: absolute;
    /*width: 100%;*/
    left: 38%;
}

.dianzibi-app .list-main-now .spot {
    height: .15rem;
    width: .15rem;
    background-color: #C47976;
    border-radius: 50%;
    float: left;
    margin: .02rem .1rem;
}

.dianzibi-app .list-main-now .spot.active {
    background-color: #FFE3EB;
    height: .19rem;
    width: .19rem;
    margin: 0 .1rem;
}

.dianzibi-app .coin-num {
    position: absolute;
    bottom: .6rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}

.dianzibi-app .coin-num-main {
    border-radius: .3rem;
    zoom: 1;
    box-sizing: border-box;
    border: 2px #FF7597 dashed;
    height: 1.2rem;
    position: relative;
}

.dianzibi-app .coin-num-box {
    float: left;
    overflow: auto;
    zoom: 1;
    width: 50%;
    .dianzibi-app
}

.dianzibi-app .coin-num-box .num-btn,
.dianzibi-app .coin-num-box .num-text {
    float: left;
    text-align: center;
    font-size: .4rem;
    padding: .2rem 0;
}

.dianzibi-app .coin-num-box .num-btn {
    border-radius: .1rem;
    width: .5rem;
    height: .5rem;
    margin: .1rem;
    background-color: #FFD8E3;
}

.dianzibi-app .coin-num-box .num-btn.minus {
    padding-left: .2rem;
    background: url(../images/Minus.png) no-repeat right center;
    background-size: .5rem;
}

.dianzibi-app .coin-num-box .num-btn.plus {
    padding-right: .2rem;
    background: url(../images/Plus.png) no-repeat left center;
    background-size: .5rem;
}

.dianzibi-app .coin-num-box .num-text {
    width: 1rem;
    line-height: .7rem;
    font-size: .46rem;
    color: #FF4573;
}

.dianzibi-app .coin-num-btn {
    float: left;
    width: 50%;
    text-align: center;
    /*position: relative;*/
}

.dianzibi-app .coin-num-btn a {
    position: absolute;
    top: -0.1rem;
    right: -0.1rem;
    width: 50%;
    height: 1.4rem;
    display: block;
    background: url(../images/Coin_in.png) no-repeat center;
    background-size: 100% 100%;
}

.dianzibi-app .coin-num-text {
    font-size: .15rem;
    text-align: center;
    line-height: .6rem;
    color: #8F5554;
}

.dianzibi-app footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    zoom: 1;
}

.dianzibi-app footer .about-box,
.dianzibi-app footer .btn-box {
    float: left;
    text-align: center;
    line-height: .6rem;
    font-size: .25rem;
    background-color: #ECAAAB;
    color: #8F5554;
}

.dianzibi-app footer .about-box {
    width: 50%;
}

.dianzibi-app footer .btn-box {
    width: 25%;
}

.dianzibi-app footer .btn-box-first {
    background-color: #DD999A;
}
