/*下弹窗*/

.bottom-push-win {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 88;
}

.bottom-push-win-main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.buy-coin-win .win-title {
    background: url(../images/Credit_card.png) #ECAAAB no-repeat .3rem center;
    background-size: .7rem;
}

.bottom-push-win .win-title {
    text-align: center;
    padding: .15rem;
    position: relative;
    font-size: .35rem;
    color: #754241;
    background-color: #ECAAAB;
}

.bottom-push-win .win-title-info {
    position: absolute;
    right: .2rem;
    top: .2rem;
    font-size: .25rem;
}

.buy-coin-win .win-content {
    overflow: auto;
    background-color: #FFE3EB;
    padding: .4rem .4rem 0 .4rem;
}

.bottom-push-win .win-btns {
    overflow: auto;
}

.bottom-push-win .win-btns a {
    float: left;
    box-sizing: border-box;
    display: block;
    padding: .2rem 0;
    font-size: .35rem;
    text-align: center;
}

.bottom-push-win .win-btn-close {
    width: 40%;
    background-color: #C6BBBE;
    color: #777777;
}

.bottom-push-win .win-btn-buy {
    width: 60%;
    background-color: #FCC829;
    color: #A15910;
}

.bottom-push-win.buy-coin-win .fee-list {
    padding: 0 .2rem;
    text-align: center;
}

.buy-coin-win .fee-list-box {
    float: left;
    width: 28%;
    margin-right: 7%;
    margin-bottom: .3rem;
    text-align: center;
}

.buy-coin-win .fee-list-box .fee-info {
    width: 100%;
    color: #FFEEEE;
    background-color: #C8817E;
    text-align: center;
    border-radius: .1rem;
    box-sizing: border-box;
    padding: .08rem;
    box-shadow: 2px 2px 2px #814A49;
    position: relative;
}

.buy-coin-win .fee-list-box .fee-info img {
    display: none;
    position: absolute;
    width: .4rem;
    height: .4rem;
    top: -0.15rem;
    right: -0.15rem;
}

.buy-coin-win .fee-list-box.active .fee-info {
    background-color: #FCC829;
    color: #A15910;
}

.buy-coin-win .fee-list-box.active .fee-info img {
    display: block;
}

.buy-coin-win .fee-list-box .fee-give {
    line-height: .5rem;
    font-size: .2rem;
    color: #DF4860;
    padding-left: .45rem;
    background: url(../images/send.png) no-repeat left center;
    background-size: .4rem;
}

.buy-coin-win .fee-list-box .fee-info p {
    pointer-events: none;
}

.buy-coin-win .fee-list-box .coin {
    font-size: .25rem;
}

.buy-coin-win .fee-list-box .fee span {
    font-size: .4rem;
}

.buy-coin-win .fee-list-box:nth-child(3n) {
    margin-right: 0;
}


/*提示窗口*/

.prompt-win {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 1;
    transition: opacity .2s;
}

.prompt-win-main {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 55%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: .3rem .2rem;
    box-sizing: border-box;
    color: #ECAAAB;
    text-align: center;
}

.success-buy-icon {
    height: 1rem;
    width: 100%;
    background: url(../images/tick.png) no-repeat center;
    background-size: .6rem;
}

.prompt-win-content-text {
    font-size: .38rem;
    padding: .05rem 0;
}

.prompt-win-content-text .heightlight {
    color: #FFEDF2;
}

.prompt-win-content-prompt-text {
    font-size: .25rem;
    padding: .05rem 0;
}

.countDown {
    padding-top: .2rem;
}

.success-coin {}

.success-coin-icon {
    padding-left: .7rem;
    line-height: 1rem;
    background: url(../images/tick.png) no-repeat left center;
    background-size: .6rem;
}

.coin-insufficient {}


/*中部弹窗*/

.center-push-win {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 88;
}

.center-push-win-main {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 80%;
}

.center-push-win-main .win-title {
    background-color: #ECAAAB;
    color: #8F5554;
    text-align: center;
    padding: .2rem;
    font-size: .35rem;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    position: relative;
}

.center-push-win-main .win-title .win-close {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .1rem;
    margin: auto;
    width: .8rem;
    height: .7rem;
    background: url(../images/cross.png) no-repeat center;
    background-size: .3rem;
}

.center-push-win-main .win-content {
    background-color: #FFE3EB;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    padding: .2rem;
    color: #8F5554;
}

.center-push-win-main .win-content .win-content-box {
    padding: .1rem .2rem;
    overflow: auto;
    zoom: 1;
    font-size: .35rem;
}

.center-push-win-main .win-content .win-content-box .box-name {
    float: left;
}

.center-push-win-main .win-content .win-content-box .box-value {
    float: right;
}

.center-push-win-main .win-content .win-content-text {
    border-top: 1px #8F5554 solid;
    margin: .1rem 0;
    padding: .2rem 0;
    font-size: .25rem;
    text-align: center;
}

.center-push-win-main .win-content .btn {
    display: block;
    text-align: center;
    font-size: .35rem;
    background-color: #FFC44D;
    border-radius: .15rem;
    border-bottom: 2px #B65708 solid;
    padding: .15rem;
}

.center-push-win-main .win-content .big-font {
    font-weight: 600;
    font-size: .3rem;
}


/*消费记录*/

.record-win {
    /*display: block;*/
}

.record-win .win-btns a {
    display: block;
    float: left;
    width: 33.3%;
    background-color: #F5B8B9;
    box-sizing: border-box;
    font-size: .32rem;
    color: #B37474;
}

.record-win .win-btns a.disable {
    background-color: #aaa;
    color: #ddd;
}

.record-win .win-btns .retrun-btn {
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
}

.record-win .win-content {
    background-color: #FFE3EB;
}

.record-list {
    min-height: 3.5rem;
    overflow: scroll;
    position: relative;
}

.record-list-header {}

.record-list-header table,
.record-list table {
    width: 100%;
    text-align: center;
    color: #B37474;
    table-layout: fixed;
    border-collapse: collapse;
}

.record-list-header table th,
.record-list table th {
    font-weight: 400;
    padding: .1rem;
    font-size: .22rem;
}

.record-list table tbody tr:nth-child(2n-1) {
    background-color: #FBD8DE;
}

.record-list table td {
    padding: .1rem .05rem;
    font-size: .22rem;
    max-width: 1.2rem;
    vertical-align: text-top;
}

.record-list table td:nth-child(1),
.record-list table td:nth-child(2) {
    text-align: left;
}

.record-list .error-text {
    position: absolute;
    color: #2D638F;
    font-size: .15rem;
    padding-left: .1rem;
    padding-top: .1rem;
}

.loading-text {
    display: none;
    text-align: center;
    color: #B37474;
    font-size: .22rem;
    padding: .2rem;
}
