
body {
    color: #000;
    line-height: 1.7;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #F7FAFC;
}
.x-toolbar-default,
div.x-border-layout-ct,
.x-panel-body-default{
	background: none;

}

.viewport{
	background-image: url("../images/bg.png");
	background-repeat: repeat-y;
	/*background-size: 100% 100%;*/
	background:-webkit-gradient(linear ,0% 100%,100% 0%,
	color-stop(0.1,rgb(76,118,91)),
	color-stop(1,rgb(58,92,121)));
	background:-moz-linear-gradient(left bottom,rgb(76,118,91),rgb(58,92,121));
}
.viewport-top{
	background: rgb(58,92,121);
	background:-webkit-gradient(linear ,0% 100%,100% 0%,
	color-stop(0.001,rgb(76,118,91)),
	color-stop(1,rgb(58,92,121)));
	background:-moz-linear-gradient(left bottom,rgb(76,118,91),rgb(58,92,121));
}
.top .x-btn.x-btn-menu-active.x-btn-default-small,
.top .x-btn-default-small,
.top .x-btn-over.x-btn-default-small,
.top .x-btn-focus.x-btn-default-small,
.top .x-btn-menu-active.x-btn-default-small,
.top .x-btn-over.x-btn-default-small{
	background: none;
	border: 0;

	/*box-shadow: none;*/
}
.top .x-btn.x-btn-pressed.x-btn-default-small{
	background: none;
}
.line{
	background-color: #ccc;
}
.x-menu-item-text-default{
	color: #fff;
}
.childMenu{
	background-color: rgba(0,0,0,.8);
	
}
.menuClass{
	border-width: 0;
	padding-top: 10px; 
	border-radius: 3px;
}
.menuClass .x-menu-body-default{
	background: none;
}
.menuActive{
	background: none;
}
.x-menu-item-default.x-menu-item-active{
	background-color: #21414E;
}
.topTrigger{
	background-color: #fff;
}

.logo{
	cursor: pointer; 
	font-size: 30px;
	line-height: 50px;
	color: #fff; 
	padding-left: 60px; 
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px 50px;
}



.indexPage-module{
	cursor: pointer; 
	border-radius: 10px;
	-webkit-transition: background-color .15s ease-in;
}
.indexPage-module:hover{
	background-color: rgba(0,0,0, 0.2);
}



/*服务目录管理*/
/*树*/
.serviceDirectoryTreeMenu{
	border-radius: 3px;
}
.serviceDirectoryTreeMenu .x-menu-item-text-default{
	color: #666;
	font-size: 15px;
}
.serviceDirectoryTreeMenu .x-menu-item-active  .x-menu-item-text-default{
	color: #5C9DF4;
}
.serviceDirectoryTreeMenu .x-menu-item-default.x-menu-item-active{
	background-color: #EAF0FB;
}

.securityManageTreePanel .x-grid-item,
.serviceDirectoryTreePanel .x-grid-item{
	background: none;

}
.securityManageTreePanel .x-grid-body,
.serviceDirectoryTreePanel .x-grid-body{
	border-top: 0;
}

.serviceDirectoryMainPanel{
	height: auto;
	background-color: rgba(0,0,0,.3);
	padding: 15px;
	border-radius: 5px;
}
.securityManageTreePanel,
.serviceDirectoryTreePanel{
	background-color: rgba(0,0,0,.3);
	border-radius: 3px;
}
/* 属性集合*/
.centerTypeMapPanel .x-panel-header-default{
	background: none;
	cursor: pointer;
	border: 0;
	border-bottom: 1px #999 solid;
	margin-bottom: 10px;
}
.centerTypeMapPanel .x-accordion-item .x-accordion-body{
	/*margin-top: 10px;*/
	background: rgba(0,0,0,.2);
	border-radius: 5px;
	padding: 10px;
}
.centerTypeMapPanel  .x-accordion-hd .x-panel-header-title{
 	color: #fff;

}
.securityManageTreeType,
.serviceDirectoryTreeType {
	color: #fff;
	font-size: 16px;
	padding: 5px;
}

.serviceDirectoryTreeScene{
	color: #fff;
	font-size: 14px;
	padding: 5px;
}
.securityManageTreePanel .x-grid-item-selected,
.serviceDirectoryTreePanel .x-grid-item-selected{
	background-color: rgba(255,255,255,.1);
}
.securityManageTreePanel .x-grid-item-focused .x-grid-cell-inne,
.serviceDirectoryTreePanel .x-grid-item-focused .x-grid-cell-inner{

}

#securityManage .centerFormPanel{
	padding: 10px;
	background-color: rgba(0,0,0,.3);
	border-radius: 5px;
}

#serviceDirectory .centerFormPanel{
	padding: 10px;
	background-color: rgba(0,0,0,.3);
	border-radius: 5px;
}
#serviceDirectory .centerFormPanel .x-form-trigger-wrap-default{
	border: 0px; 
}
#serviceDirectory .centerFormPanel input{
	background-color: rgba(0,0,0,.1);
	border-radius: 3px;
	color: #fff;
	padding: 5px 10px;
	border: 1px #aaa solid;
}
.serviceDirectory-sub-btn{
	width: 100px;
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	 border-radius: 5px;
}
.serviceDirectory-sub-btn1{
	background-color: #86AA39;
	border: 1px #B8E93D solid;
}
.serviceDirectory-sub-btn2{
	background-color: #214F5D;
	border: 1px #18262E solid;
}
.serviceDirectory-sub-btn .x-btn-inner{
	font-size: 15px;
	font-weight: 500;
}
.serviceDirectory-sub-btn1:hover,
.serviceDirectory-sub-btn1:focus{
	background-color: #B8E93D;
	border: 1px #86AA39 solid; 
}
.serviceDirectory-sub-btn2:hover,
.serviceDirectory-sub-btn2:focus{
	background-color: #18262E;
	border: 1px #18262E solid; 
}
.serviceDirectory-addserver{
	padding: 5px;
	margin: 10px 0;
	background-color: #86D14A;
	border: 1px #86AA39 solid; 
}
.serviceDirectory-addserver .x-btn-inner{
	font-size: 15px;
	font-weight: 500;
}
.serviceDirectory-addserver:hover,
.serviceDirectory-addserver:focus{
	background-color: #86AA39;
	border: 1px #86AA39 solid; 
}
.x-grid-item-focused .x-grid-cell-inner:before{
	border: 0;
}
.x-grid-item-focused{
	outline: none;
}
.window .x-form-trigger-wrap-default{
	border-radius: 3px;
}
.x-tagfield{
	background: none;
	border: 1px #eee solid;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}




